<!-- ACCIDENT PREVENTION -->
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/acc.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    ACCIDENT PREVENTION
                </h1>
            </div>
        </div>
    </div>

    <!-- ABOUT ACCIDENT PREVENTION -->
    <div class="section section-team text-center">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <h2 class="title">
                        WAREHOUSE ACCIDENT PREVENTION SOLUTION
                    </h2>
                    <h5 class="description">
                        Increasing Workers Awareness In Work Sites
                    </h5>
                </div>
            </div>
        </div>

        <!-- Start Services -->
        <div class="container">
            <div class="team">
                <!-- Start Service Content -->
                <div class="row">
                    <!-- Start single service -->
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-globe"></i></div>
                            <h4 class="title">
                                Enhanced Safety
                            </h4>
                            <p class="description">
                                Proximity sensors can detect the presence of objects or obstacles in the equipment's vicinity, helping to prevent accidents and collisions. They provide real-time alerts or warnings to operators, reducing the risk of accidents and injuries.
                            </p>
                        </div>
                    </div>
                    <!-- End single service -->

                    <!-- Start single service -->
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-bullhorn"></i></div>
                            <h4 class="title">
                                Improved Operator Awareness
                            </h4>
                            <p class="description">
                                Proximity sensors provide operators with better visibility of their surroundings, especially in blind spots, by detecting objects that may not be easily visible. Operators can make more informed decisions and avoid potential hazards.
                            </p>

                        </div>
                    </div>
                    <!-- End single service -->

                    <!-- Start single service -->
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-usd"></i></div>
                            <h4 class="title">
                                Cost Savings
                            </h4>
                            <p class="description">
                                By reducing the likelihood of accidents and equipment damage, proximity sensors can lead to cost savings through reduced repair and maintenance expenses. They can also help avoid costly downtime associated with accidents.
                            </p>
                        </div>
                    </div>
                    <!-- End single service -->

                    <!-- Start single service -->
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-shield"></i></div>
                            <h4 class="title">
                                Compliance with Safety Regulations
                            </h4>
                            <p class="description">
                                Proximity sensors can assist heavy equipment operators and organizations in complying with safety regulations and standards, which is essential for avoiding fines and legal issues.
                            </p>
                        </div>
                    </div>
                    <!-- End single service -->

                    <!-- Start single service -->
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-wrench"></i></div>
                            <h4 class="title">
                                Versatility and Customization
                            </h4>
                            <p class="description">
                                Proximity sensors come in various types and can be customized to suit specific heavy equipment and applications. They can be integrated into existing equipment systems, making them adaptable for different industries and uses.
                            </p>
                        </div>
                    </div>
                    <!-- End single service -->

                    <!-- Start single service -->
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-cog"></i></div>
                            <h4 class="title">
                                Environmental Benefits
                            </h4>
                            <p class="description">
                                By preventing accidents and damage to equipment, the solution reduce the environmental impact associated with spills, leaks, and emissions resulting from equipment accidents.
                            </p>
                        </div>
                    </div>
                    <!-- End single service -->
                </div>
            </div>
        </div>
        <!-- End Services -->
    </div>

    <!-- Start Team Content -->
    <div class="section section-about-us">
        <div class="container">
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">
                            SOME OF OJO ACCIDENT SOLUTION FEATURES
                        </h2>
                    </div>
                    <!-- start single item -->
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/Capture 5.PNG')">
                            <!-- First image on the left side -->
                            <h4 class="title">
                            </h4>
                            <p class="blockquote" style="color: teal;">
                                <strong>                                
                                    Directional Collision Avoidance
                                </strong>
                                <br> Directional anti-collision in front of the vehicle, rear, left, and right sides.
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <!-- <div class="image-container" style="background-image: url('assets/img/Group 36.png')"></div> -->
                    </div>
                    <!-- End single item -->


                    <!-- start single item -->
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/Capture.PNG')"></div>
                        <strong>
                            Authority Management
                        </strong>
                        <p>
                            Personnel, vehicle authority management, each driver wears an IC card, swipes the card to start the vehicle, and avoids other drivers starting the vehicle at will, easier for administrators to manage.
                        </p>
                        <p>
                            <strong>Precision Range

                            </strong>
                            <br> Staged range collision distance, early warning zone distance, warning zone distance, and speed limit zone distance.

                            <p>
                                <strong>
                                    Audible and visual alar
                            </strong>
                                <br> Audible and visual alarms when Speeding Warning drivers and pedestrians Four light modes and warning voices can be customized for free.
                            </p>
                    </div>
                    <!-- End single item -->

                </div>
            </div>
        </div>
    </div>
    <!-- End Team Content -->


    <!-- Start Services -->
    <div class="section section-nucleo-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <h4 class="title">
                        Operation Principles
                    </h4>
                    <ul class="description">
                        <li>
                            Waterproof personnel detector detects personnel TAG and other device that are within its detection circumference (configurable distance: default is 5 m between tags and 10 m between beacon devices).
                        </li>
                        <li>
                            UWB Audible LED beacon detects the distance between the operator's tag and the device itself (e.g. 2 m, configurable) and if the tag enters the detection radius of the UWB Audible LED beacon, it will react with alerts.
                        </li>
                        <li>
                            Workers have tags that interact with the waterproof personnel detector, other tags, and the UWB Audible LED beacon. All these devices will react to this tag and all of them start alerts.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="icons-container">
                        <img src="assets/img/cas1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section section-nucleo-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="icons-container">
                        <img src="assets/img/cas2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <h4 class="title">
                        Solution Features
                    </h4>
                    <ul class="description">
                        <li>
                            Applicable to all industrial vehicles: excavators, forklifts, loaders, tractors, etc.
                        </li>
                        <li>
                            Detection of pedestrians and moving vehicles in the area of operation of vehicles.
                        </li>
                        <li>
                            Proximity detection range is adjustable from 1 to 50 meters in ideal conditions.
                        </li>
                        <li>
                            Feature SOS alarming for workers in emergency situations.
                        </li>
                        <li>
                            Special installation for long heavy equipment or vehicles.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->

</div>