<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/log.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    LOGISTICS & SUPPLY CHAIN
                </h1>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">
                        Logistics & Supply chain
                    </h2>
                    <h5 class="description">
                        Success in the field of logistics and supply chain management depends essentially on continuous communication and follow-up between many parties. Thus, relay on OJO to facilitate communication and organize tasks.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="separator" style="color: teal;"></div>

    <div class="section">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <div class="team-player">
                        <h3 class="title">
                            How logistical and supply chain management can get the best benefit from OJO?
                        </h3>
                        <h5 class="title">
                            Positive customer experiences
                        </h5>
                        <p class="description">
                            With OJO, deliver the agreed products and quantities to customers without any errors and on time on the allocated places by your customers. In addition to documenting customer data, status and service details provided on the system. Thus all of the employees
                            can interact with any customer and respond to his inquiries immediately and accurately.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Easier collection of financial dues
                        </h5>
                        <p class="description">
                            With OJO, get the easiest and fastest way of making your invoices and contracts. Thus, you will get rid of all the pressure of collecting dues by the traditional methods and paper documentation.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            More efficient team
                        </h5>
                        <p class="description">
                            With OJO, distribute and deliver your products and get an automated operation that will save both your time and money. consequently, your company’s productivity will increase by huge proportions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="separator" style="color: teal;"></div>

    <div class="section">
        <div class="container text-center">
            <div class="row justify-content-md-center">

                <div class="col-md-12 col-lg-8">
                    <div class="team-player">
                        <h3 class="title">
                            How will OJO help you with that?
                        </h3>
                        <h5 class="title">
                            Digital contract management
                        </h5>
                        <p class="description">
                            With OJO, you will be able to manage contracts and invoices digitally, based on the customer data that is entered through the system, and thereby get rid of the paper documentation that causes a lot of chaos as well as the difficulty in reviewing it after
                            the passage of time.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Stay in touch with your delegates
                        </h5>
                        <p class="description">
                            OJO will help you to maintain instant and direct contact with your team to provide instructions when necessary, as well as the communication of your team members with each other.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Real-time monitoring of staff locations
                        </h5>
                        <p class="description">
                            Through “OJO” you will be able to track the team of specialists in real time – using GPS technology – to know their locations and the tasks they perform, and thus you will control all the details of their work day outside the company to help them achieve
                            the highest rate of productivity possible.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            See customer reviews
                        </h5>
                        <p class="description">
                            With OJO, receive all customer feedback, moment by moment, to be able to reinforce your strengths and eliminate your weaknesses.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <footer class="footer footer-default">
        <div class="container">
            <p class="mu-copy-right">&copy; Copyright <a style="color: teal;" rel="nofollow" href="https://sat-finder.com">SAT FINDER</a>. All right reserved.</p>
        </div>
    </footer> -->
</div>