<div class="wrapper">
    <!-- Tophan-C Benefits -->
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/tophan/benfits/toto1.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    Tophan-C Benefits
                </h1>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <ul>
                            <li>
                                <h4 class="title">
                                    Fast maritime rescue due to the high speed of the boat (60 nm or 111 km/h)
                                </h4>
                            </li>
                            <li>
                                <h4 class="title">
                                    Support offshore platforms in the event of a rapid need for any of supplies or tools, especially in heavy weather and high waves environment
                                </h4>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/tophan/benfits/rescue1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/tophan/benfits/Picture5.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <ul>
                            <li>
                                <h4 class="title">
                                    Helping to reduce the rate of marine pollution by dropping oil through continuous (automated) measurements of the pollution rate resulted by each transport vessel separately and holding violators accountable
                                </h4>
                            </li>
                            <li>
                                <h4 class="title">
                                    Detecting any leaks from oil tankers in the waiting areas in the Swiss Gulf, different ports, and the Swiss Canal
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <ul>
                            <li>
                                <h4 class="title">
                                    Extinguishing fires for ships or oil and gas rigs
                                </h4>
                            </li>
                            <li>
                                <h4 class="title">
                                    Routine underwater scanning for any left-over or dropped objects to secure ship movement in Swiss canal
                                </h4>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/tophan/benfits/Picture4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/tophan/benfits/Picture11.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <ul>
                            <li>
                                <h4 class="title">
                                    Photography, instant transfer and spatial survey with surveillance cameras
                                </h4>
                            </li>
                            <li>
                                <h4 class="title">
                                    Contribute to support exploration, underwater search, and offshore drilling
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <ul>
                            <li>
                                <h4 class="title">
                                    Documenting events for insurance claim purposes such as physical damage due to collision, bad weather and collapse
                                </h4>
                            </li>
                            <li>
                                <h4 class="title">
                                    Participation in marine research via monitoring systems, mitigating hazards, and improving the management of seas and coastal areas
                                </h4>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/tophan/benfits/Picture12.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>