<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/maintenance.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    MAINTENANCE
                </h1>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">
                        MAINTENANCE
                    </h2>
                    <h5 class="description">
                        If you own a company that provides repair and maintenance services, OJO will help you to provide support to your technical team to enable them to provide excellent service to their customers.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="separator" style="color: teal;"></div>

    <div class="section">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <div class="team-player">
                        <h3 class="title">
                            How logistical and supply chain management can get the best benefit from OJO?
                        </h3>
                        <h5 class="title">
                            Save technicians time
                        </h5>
                        <p class="description">
                            If your repair professionals spend a lot of time on unnecessary tasks such as going to the office to get their schedules or to check and stock parts and tools manually and other useless tasks, use OJO to perform all of this tasks automatically on the
                            system, so your team can focus only on providing professional service to your clients.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Positive customer experiences
                        </h5>
                        <p class="description">
                            With OJO, get a full control on the performed services to your customers and document all the customers’ data, status and service details provided. Thus, all your employees will immediately and accurately deal with any customer and respond to his inquiries.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Fast collection of financial dues
                        </h5>
                        <p class="description">
                            Farwell all the pressure of collecting financial dues by traditional methods. OJO will save you both time and effort through the easiest way of making contracts and invoicing without any paper notation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="separator" style="color: teal;"></div>

    <div class="section">
        <div class="container text-center">
            <div class="row justify-content-md-center">

                <div class="col-md-12 col-lg-8">
                    <div class="team-player">
                        <h3 class="title">
                            How will OJO help you with that?
                        </h3>
                        <h5 class="title">
                            Facilitate tasks for software and hardware professionals
                        </h5>
                        <p class="description">
                            Technicians deal with a large number of details every day, in addition to dealing with a large number of customers with different technical problems. Through OJO, get all this tasks handled automatically on the system to make your team work more efficient
                            and technically focused.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Digital contract management
                        </h5>
                        <p class="description">
                            With OJO, you will be able to manage contracts and invoices digitally, based on the customer data that is entered through the system, and thereby get rid of the paper documentation that causes a lot of chaos as well as the difficulty in reviewing it after
                            the passage of time.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Follow up the maintenance information
                        </h5>
                        <p class="description">
                            Saving each customer’s information, status, maintenance information and documenting them on OJO will make you fully aware of each single detail related to the customers and will avoid providing the service for free by mistake to some customers.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Stay in touch with your team
                        </h5>
                        <p class="description">
                            OJO will help you to maintain instant and direct contact with all specialists to communicate with the team and provide instructions when necessary, as well as the communication of your team members with each other.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Real-time monitoring of staff locations
                        </h5>
                        <p class="description">
                            Through “OJO” you will be able to track the team of specialists in real time – using GPS technology – to know their locations and the tasks they perform, and thus you will control all the details of their work day outside the company to help them achieve
                            the highest rate of productivity possible.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="hero-area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="block">
                        <h1 class="wow fadeInDown" data-wow-delay="0.3s" data-wow-duration=".2s">TRY OUR SERVICE AS ONLINE DEMO AND GET A QUOTE
                        </h1>
                        <p class="wow fadeInDown" data-wow-delay="0.5s" data-wow-duration=".5s">Have you seen the demo ?! , impressive huh! , do you want to try it on your own vehicles, fleet, manage your company workforce, you can do that , Just ask for demo & quote and we will grant you 60 days of free trial with full features.
                        </p>
                        <div class="wow fadeInDown" data-wow-delay="0.7s" data-wow-duration=".7s">
                            <a [routerLink]="['/ojo/login']" class="btn btn-round btn-lg" style="background-color: #056676">GET A QUOTE<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 wow zoomIn">
                    <div class="block">
                        <div class="counter text-center">
                            <ul id="countdown_dashboard">
                                <li>
                                    <div class="dash days_dash">
                                        <div class="digit">11</div>
                                        <span class="dash_title">Countries</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash hours_dash">
                                        <div class="digit">
                                            38000
                                        </div>
                                        <span class="dash_title">Users</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash minutes_dash">
                                        <div class="digit">
                                            58
                                        </div>
                                        <span class="dash_title">Distributors</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash seconds_dash">
                                        <div class="digit">12</div>
                                        <span class="dash_title">
                                            Years
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .row close -->
        </div>
        <!-- .container close -->
    </section>

    <footer class="footer footer-default">
        <div class="container">
            <p class="mu-copy-right">&copy; Copyright <a style="color: teal;" rel="nofollow" href="https://sat-finder.com">SAT FINDER</a>. All right reserved.</p>
        </div>
    </footer>
</div>