<div class="wrapper">
    <!-- argo-x-C Benefits -->
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/argo-x/applications/Applications.PNG');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    Argo-x-C Benefits
                </h1>
            </div>
        </div>
    </div>

    <!-- Start Services -->
    <div class="section section-nucleo-icons">
        <div class="row">
            <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-image: url(assets/img/argo-x/benfits/rescue1.jpg)"></div>
                </div>
                <div class="description">
                    <h3 class="title">
                        Search and Rescue Capability
                    </h3>
                    <ul>
                        <li class="description">
                            Reliable and consistent in all weather conditions.
                        </li>
                        <li class="description">
                            Fast speed up to 60 knots (multi-step design).
                        </li>
                        <li class="description">
                            Carry 2 × SOLAS (10-25) persons life rafts and 6 lifebuoys.
                        </li>
                        <li class="description">
                            Equipped with EO/thermal night camera, movable search lights, and microphone to ensure the success of rescue activities.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="blog-card alt">
                <div class="meta">
                    <div class="photo" style="background-image: url(assets/img/argo-x/benfits/Picture3.jpg)"></div>
                </div>
                <div class="description">
                    <h3 class="title">
                        Firefighting at Sea Capability
                    </h3>
                    <ul>
                        <li class="description">
                            Equipped with firefighting cannon (500 liters/minutes).
                        </li>
                        <li class="description">
                            Unlimited sea water source from under the boat’s hull.
                        </li>
                        <li class="description">
                            Firefighting in marinas, shoreside warehouses, ports, and seaside airports.
                        </li>
                        <li class="description">
                            High speed and maneuvers in small spaces and tough water conditions.
                        </li>
                        <li class="description">
                            Manned configuration used when help can be given in the fire place.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Services -->


        <!-- Start Services -->
        <div class="row">
            <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-image: url(assets/img/argo-x/benfits/Picture5.jpg)"></div>
                </div>
                <div class="description">
                    <h3 class="title">
                        Pollution Detection and Treatment
                    </h3>
                    <h5>
                        Crude Oil Pollution Detection
                    </h5>
                    <ul>
                        <li class="description">
                            Equipped with ultraviolet UV-A excitation and blue emission sensor
                        </li>
                        <li class="description">
                            Detects oil spill area that maybe resulted from passing ships in the sea
                        </li>
                    </ul>
                    <h5>
                        Nuclear Radiation Detection
                    </h5>
                    <ul>
                        <li class="description">
                            Equipped with sensors to detect the nuclear debris dumped from ships
                        </li>
                        <li class="description">
                            Detection of the nuclear radiation level and real-time transmission to CGS
                        </li>
                    </ul>
                </div>
            </div>

            <div class="blog-card alt">
                <div class="meta">
                    <div class="photo" style="background-image: url(assets/img/argo-x/benfits/Picture7.jpg)"></div>
                </div>
                <div class="description">
                    <h3 class="title">
                        Sea Structure Surveillance and Monitoring
                    </h3>
                    <h5>
                        Out-of-Control Vessels
                    </h5>
                    <ul>
                        <li class="description">
                            Surveillance and monitoring of oil and gas rigs up to 24 nautical miles
                        </li>
                        <li class="description">
                            Alarm about vessels that lost control and may hit the platform
                        </li>
                    </ul>
                    <h5>
                        Weather Analysis and Warning
                    </h5>
                    <ul>
                        <li class="description">
                            Weather station for warning about high waves and rough waters
                        </li>
                        <li class="description">
                            Detect, analyze & predict weather conditions and send alarms and live videos to the user with the possibility to be used in rescue operations
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Services -->

        <!-- Start Services -->
        <div class="row">
            <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-image: url(assets/img/argo-x/benfits/Picture10.png)"></div>
                </div>
                <div class="description">
                    <h3 class="title">
                        Ambulance Services at Sea
                    </h3>
                    <ul>
                        <li class="description">
                            Fast medical services at sea due to high speed and long endurance .
                        </li>
                        <li class="description">
                            Suitable for tourism cities with large Marinas and dense naval activity .
                        </li>
                        <li class="description">
                            Equipped with the essential medical equipment and emergency kits .
                        </li>
                        <li class="description">
                            Can provide preventive health care services such as COVID-19 check at sea before docking .
                        </li>
                    </ul>
                </div>
            </div>

            <div class="blog-card alt">
                <div class="meta">
                    <div class="photo" style="background-image: url(assets/img/argo-x/benfits/Picture11.jpg)"></div>
                </div>
                <div class="description">
                    <h3 class="title">
                        Underwater Colored Hydrographic Scanning of Sea Bottom
                    </h3>
                    <ul>
                        <li class="description">
                            3D colored sonar imaging with two stereo transducers and two working frequency bands: 50-60 kHz and 200-350 kHz
                        </li>
                        <li class="description">
                            Detection of any objects on the sea bottom: sank ships or leftovers
                        </li>
                        <li class="description">
                            Measures depth and water temperature
                        </li>
                        <li class="description">
                            Used to scan waterways before our ship enters the harbor and routine coastal scanning for intruder divers
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Services -->

    </div>
</div>