<!-- ABOUT US  -->
<div class="wrapper">
    <div class="page-header clear-filter">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('/assets/img/militry/banner.png');">
        </div>
        <div class="container">
            <div class="container">
                <div class="content-center brand">
                    <h1 class="title" style="color: #FFF;">
                        SMART DRIVING IN THE SEA
                    </h1>
                    &nbsp;
                    <h4 class="descriptions">
                        SAT – FINDER as a pioneering leader pioneering leader in self-driving (autonomous) and Unmanned Surface Vessels (USV) technology and the forefront of innovation in autonomous marine operations.
                    </h4>
                    <div class="button" id="button-2">
                        <div id="slide"></div>
                        <a href="#">View More</a>
                    </div>
                    <div class="button" id="button-2">
                        <div id="slide"></div>
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ABOUT US -->
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">
                        Who's behind TOPHAN ?
                    </h2>
                    <h5 class="description">
                        We work with colleagues, partners and customers, based on one goal, to bring the best of everyone, market penetration and 24/7 support. Business is built not only by great ideas but also with great collaboration, selfless attitudes, charismatic leadership,
                        smart marketing and passionate salesforce. This Family and friends are our teams who made the dream come true.
                    </h5>
                </div>


                <div class="section">
                    <div class="container text-center">
                        <div class="row justify-content-md-center">
                            <div class="col-md-12 col-lg-8">
                                <h2 class="title">Our Mission</h2>
                                <h5 class="description">To provide world class solutions regarding fleet management, facility management, field service management and retail execution, using real time tracking, relying on our long accumulated expertise in the global market,
                                    and making these solutions available to business owners, fleet managers, operations supervisors and retail professionals. We enhance the performance of our customers by leveraging Big Data analytics and artificial intelligence
                                    for better informed decision making and more effective planning, all in one dashboard.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="container text-center">
                        <div class="row justify-content-md-center">
                            <div class="col-md-12 col-lg-8">
                                <h2 class="title">Our Vision</h2>
                                <h5 class="description">To support organizations across the globe in their digital transformation, and help them to develop their ability to manage, monitor, control and optimize their business processes and operations, increase real-time productivity
                                    and improve customer interactions in ways that maximize revenue and ROI. We also help regional and national companies maximize their revenue with the same analysis tools that major enterprises are using.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="separator" style="color: teal;"></div>
            <!-- VIDEO -->
        </div>

        <div class="section" style="background: linear-gradient(0deg, rgba(186, 189, 189, 0.2), #297f8c);">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">
                            HAVE ANY PROJECT IN MIND ?
                        </h2>
                        <h5 class="description" style="color: black;">
                            If you are interested in our products and services, or want to know more detailed information, please do not hesitate to contact with us.</h5>
                        <a class="btn btn-round btn-lg" style="background-color: #056676">CONTACT US<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-team text-center">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">
                            OUR EXCLUSIVE SERVICES
                        </h2>
                        <h5 class="description">
                            Marine vessel is designed for multi-mission in various fields; military, civil defense, and commercial with customized instruments and specifications.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="team">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-tachometer"></i></div>
                                <h4 class="title">
                                    Speed
                                </h4>
                                <p class="description">
                                    The 12-meter-long marine vessel has a maximum speed of 60kn which perfectly can conduct rescue missions in different water environments. It’s also equipped with autonomous obstacle avoidance & autonomous path planning and a 3D-colored underwater sonar
                                    with two transducers and three frequency bands.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-cog"></i></div>
                                <h4 class="title">
                                    Gyroscopic Stabilisation
                                </h4>
                                <p class="description">
                                    The installed Gyroscopic stabilizer ensures stability in rough water and offshore platforms in the event of a rapid need for any of the supplies or tools. It’s supported by a weather station to measure wind, temperature, pressure, location, turn rate,
                                    acceleration, and heading. Also, the vessel design is multistep capsulated to stand in high waves. It’s significant for firing missiles for military purposes.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-map-marker"></i></div>
                                <h4 class="title">
                                    Tracking & Monitoring
                                </h4>
                                <p class="description">
                                    The deployed marine radar and AIS for surveillance, tracking and, identification are a gazing eye collecting data and composed of visual (Electro-Optical), thermal, laser multi sensory surveillance, night camera, and movable searchlights. Additionally,
                                    It has a high communication bandwidth equipment with up to 80-100 km range.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-medkit"></i></div>
                                <h4 class="title">
                                    Emergency Kit
                                </h4>
                                <p class="description">
                                    TOPHAN saves lives as it’s equipped with essential medical and emergency kits for fast medical services.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>