<app-navbar></app-navbar>
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/ojo/package.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    PACKAGE & FREIGHT DELIVERY
                </h1>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">
                        PACKAGE & FREIGHT DELIVERY
                    </h2>
                    <h5 class="description">
                        Shipping and product delivery companies rely on building their customers’ trust on their full commitment to deadlines and delivery of shipments in the agreed manner, so OJO with its distinctive characteristics in delegate management, will ensure that
                        these missions are perfectly performed.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="separator" style="color: teal;"></div>

    <div class="section">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <div class="team-player">
                        <h3 class="title">
                            What do freight and delivery companies can get from depending on OJO?
                        </h3>
                        <h5 class="title">
                            Positive customer experiences
                        </h5>
                        <p class="description">
                            With OJO, get a full control on the performed services to your customers and document all the customers’ data, status and service details provided. Thus, all your employees will immediately and accurately deal with any customer and respond to his inquiries.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            High efficiency
                        </h5>
                        <p class="description">
                            With OJO, track the distribution and delivery of consumer goods shipments to save both time and effort, get a more automated system and increase your company productivity by huge proportions.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            High Productivity
                        </h5>
                        <p class="description">
                            With OJO, you will be able to increase the number of visits that your company’s delegate team used to carry out daily as the tasks assigned to them will become more organized and clear.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="separator" style="color: teal;"></div>

    <div class="section">
        <div class="container text-center">
            <div class="row justify-content-md-center">

                <div class="col-md-12 col-lg-8">
                    <div class="team-player">
                        <h3 class="title">
                            How will OJO help you with that?
                        </h3>
                        <h5 class="title">
                            Facilitate the distribution process
                        </h5>
                        <p class="description">
                            OJO will help you to easily distribute products to your customers and track the employees responsible for that. Thus, with OJO, control every detail of the process to get better results.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Digital contract management
                        </h5>
                        <p class="description">
                            With OJO, you will be able to manage contracts and invoices digitally, based on the customer data that is entered through the system, and thereby get rid of the paper documentation that causes a lot of chaos as well as the difficulty in reviewing it after
                            the passage of time.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Digital contract management
                        </h5>
                        <p class="description">
                            With OJO, you will be able to manage contracts and invoices digitally, based on the customer data that is entered through the system, and thereby get rid of the paper documentation that causes a lot of chaos as well as the difficulty in reviewing it after
                            the passage of time.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Delegate assignment scheduling
                        </h5>
                        <p class="description">
                            OJO will help you to automatically distribute and arrange tasks to distribution representatives to ensure the ease and continuity of completing tasks from your team.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Monitor the performance of field staff
                        </h5>
                        <p class="description">
                            Track your field stuff performance and their line of progress to be able to measure their KPI performance and to make analytical reports on the competency level of the team responsible for distributing consumer goods.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            See customer reviews
                        </h5>
                        <p class="description">
                            With OJO, receive all customer feedback, moment by moment, to be able to reinforce your strengths and eliminate your weaknesses
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <footer class="footer footer-default">
        <div class="container">
            <p class="mu-copy-right">&copy; Copyright <a style="color: teal;" rel="nofollow" href="https://sat-finder.com">SAT FINDER</a>. All right reserved.</p>
        </div>
    </footer> -->
</div>

<app-users></app-users>
<app-brands></app-brands>
<app-footer></app-footer>