<app-navbar></app-navbar>

<!-- FACILITY MANAGEMENT -->
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/ojo/Group 18.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    FACILITY MANAGEMENT
                </h1>
            </div>
        </div>
    </div>

    <!-- ABOUT -->
    <div class="section section-team text-center">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <h2 class="title">
                        WE’VE GOT YOU COVERED
                    </h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-calendar"></i></div>
                            <h4 class="title">
                                EVENT SCHEDULING
                            </h4>
                            <p class="description">
                                OJO prevents double-booking of rooms and resources and enables flexible approval processes to ensure event success. Save time by scheduling repeating events only once and share events easily with calendar exports.

                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-mobile"></i></div>
                            <h4 class="title">
                                INVENTORY AND ASSET MANAGEMENT
                            </h4>
                            <p class="description">OJO provides a unique QR code for every asset. Save time by scanning codes from any smartphone or tablet to adjust inventory quantities, obtain asset maintenance procedures and history, and more.

                            </p>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-users"></i></div>
                            <h4 class="title">
                                UNLIMITED USERS

                            </h4>
                            <p class="description">Avoid bottlenecks and gatekeepers in your workflow by granting access to an unlimited number of users. Empowering more people to use OJO improves communication and streamlines processes.

                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-briefcase"></i></div>
                            <h4 class="title">
                                WORK ORDER MANAGEMENT
                            </h4>
                            <p class="description">
                                Everyone in your organization can log into OJO and create a request in minutes! Easily respond, assign, and resolve issues while keeping track of time and money spent.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-clock"></i></div>
                            <h4 class="title">
                                PLANNED MAINTENANCE SCHEDULING
                            </h4>
                            <p class="description">
                                Create and share customized reports and dashboards to ensure that you’re making data-driven facilities management decisions.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-keyboard"></i></div>
                            <h4 class="title">
                                TECHNOLOGY TICKETING
                            </h4>
                            <p class="description">
                                Track technology asset information and historical ticket data. Keep requesters in the loop regarding the status of their tickets.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-car"></i></div>
                            <h4 class="title">
                                TRANSPORTATION SCHEDULING
                            </h4>
                            <p class="description">
                                Assign drivers and vehicles to ensure proper staffing while keeping track of vehicle maintenance and repair costs.

                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-sign"></i></div>
                            <h4 class="title">
                                SINGLE SIGN ON
                            </h4>
                            <p class="description">
                                Integrate OJO with an on-premise Active Directory system for a seamless login experience.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-desktop"></i></div>
                            <h4 class="title">
                                API ACCESS
                            </h4>
                            <p class="description">
                                Gain access to the OJO API which enables the integration of OJO with various systems.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="assets/img/ojo/fm.png" style="width: 100%;">

    <div class="section section-about-us">
        <div class="container">

            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">
                            WHY OJO IS THE BEST CHOICE FOR YOU..?
                        </h2>
                    </div>
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/ojo/Fac1.png')">
                            <!-- First image on the left side -->
                            <h4 class="title">
                            </h4>
                            <p class="blockquote" style="color: teal;">
                                <strong>                                
                                    BALANCE OF SIMPLICITY AND CAPABILITY
                                </strong>
                                <br> OJO is intuitive and easy to use with little to no learning curve, but still has all of the bells and whistles you need to keep your facilities running smoothly.
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/ojo/Fac2.png')"></div>
                    </div>

                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/ojo/Fac3.png')"></div>
                        <strong>
                            UNRIVALED CUSTOMER SUPPORT
                        </strong>
                        <p>
                            Software Advice, demonstrating our high levels of customer satisfaction and excellent customer support. We offer free, unlimited support via phone and email and additional educational materials in our online learning center.
                        </p>
                        <p>
                            <strong>
                                INFINITE CONFIGURABILITY
                            </strong>
                            <br> OJO is infinitely configurable, enabling you to ‘build-your-own’ FM system that meets the demands of your organization. Our customer success team is ready to work with you to make sure you have everything you need, and
                            nothing you don’t.
                            <p>
                                <strong>
                                    AGILE SOFTWARE DEVELOPMENT
                            </strong>
                                <br> Our agility allows us to constantly incorporate customer feedback and requests for new features or updates, keep bugs to a minimum, and keep our updates small so they aren’t disruptive or confusing for the user experience.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <footer class="footer footer-default">
        <div class="container">
            <p class="mu-copy-right">&copy; Copyright <a style="color: teal;" rel="nofollow" href="https://sat-finder.com">SAT FINDER</a>. All right reserved.</p>
        </div>
    </footer> -->
</div>

<app-users></app-users>
<app-brands></app-brands>
<app-footer></app-footer>