<app-navbar></app-navbar>
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/pharmaceutical.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    PHARMACEUTICALS COMPANIES
                </h1>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">
                        PHARMACEUTICALS COMPANIES
                    </h2>
                    <h5 class="description">
                        Pharmaceutical companies that rely mainly on distributing their products to delegates can use OJO to follow up and monitor their instantaneous movements and the evolution of their completion of tasks, to avoid dispersion, traditional follow-up methods
                        and to save both time and effort.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="separator" style="color: teal;"></div>

    <div class="section">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <div class="team-player">
                        <h3 class="title">
                            What do pharmaceutical companies can get as a result of relying on OJO?
                        </h3>
                        <h5 class="title">
                            Higher Productivity
                        </h5>
                        <p class="description">
                            With OJO, you will be able to increase the number of visits that your company’s delegate team used to carry out daily as the tasks assigned to them will become more organized and clear.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            improve the service provided to the medical authorities
                        </h5>
                        <p class="description">
                            With OJO, follow all the details of the visits performed by your delegates, guide them and document all the medical authorities’ data they deal with on the system. Thus, all the delegates will deal with any customer and respond to his inquiries immediately
                            and accurately which will lead to improving the quality of the service provided to your customers.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Fast collection of financial dues
                        </h5>
                        <p class="description">
                            Farwell all the pressure of collecting financial dues by traditional methods. OJO will save you both time and effort through the easiest way of making contracts and invoicing without any paper notation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="separator" style="color: teal;"></div>

    <div class="section">
        <div class="container text-center">
            <div class="row justify-content-md-center">

                <div class="col-md-12 col-lg-8">
                    <div class="team-player">
                        <h3 class="title">
                            How will OJO help you with that?
                        </h3>
                        <h5 class="title">
                            Facilitate the distribution process
                        </h5>
                        <p class="description">
                            OJO will help you to easily distribute products to your customers and track the employees responsible for that. Thus, with OJO, control every detail of the process to get better results.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Digital contract management
                        </h5>
                        <p class="description">
                            With OJO, you will be able to manage contracts and invoices digitally, based on the customer data that is entered through the system, and thereby get rid of the paper documentation that causes a lot of chaos as well as the difficulty in reviewing it after
                            the passage of time.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Stay in touch with your team
                        </h5>
                        <p class="description">
                            OJO will help you to maintain instant and direct contact with all specialists to communicate with the team and provide instructions when necessary, as well as the communication of your team members with each other.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Real-time monitoring of staff locations
                        </h5>
                        <p class="description">
                            Through “OJO” you will be able to track the team of specialists in real time – using GPS technology – to know their locations and the tasks they perform, and thus you will control all the details of their work day outside the company to help them achieve
                            the highest rate of productivity possible.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <footer class="footer footer-default">
        <div class="container">
            <p class="mu-copy-right">&copy; Copyright <a style="color: teal;" rel="nofollow" href="https://sat-finder.com">SAT FINDER</a>. All right reserved.</p>
        </div>
    </footer> -->
</div>

<app-users></app-users>
<app-brands></app-brands>
<app-footer></app-footer>