<!-- ABOUT US  -->
<app-navbar></app-navbar>
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/counter-bg.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    ABOUT US
                </h1>
            </div>
        </div>
    </div>

    <!-- ABOUT US -->
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">
                        ABOUT US
                    </h2>
                    <h5 class="description">
                        SAT Finder is a leading player in fleet management solutions since 2009, A GPS based solution that makes it possible and easy to track vehicles for individuals and an entire fleet for companies. By 2012 SAT Finder Crossed the 1K tracked elements of 300+
                        companies in 5 countries. By 2016 SAT Finder developed an advanced Fleet Management Solution, Which Enables companies to control fleet expenses and enhance the value of their mobile assets and reduce depreciation rate. By 2018
                        SAT Finder crossed the 10K tracked elements of 1200+ companies in 11 countries. By end of 2018 SAT Finder joined United Group, SAT Finder developed a complete platform named “OjO” based on GPS tracking of Vehicles, Entire Fleet
                        and WorkForce processes which not only enable companies with control over the vehicles or reduce expenses but also automates supply and demand cycle of sales, services and products delivery.
                    </h5>
                </div>
            </div>

            <div class="separator" style="color: teal;"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">
                            WHY OJO IS THE BEST CHOICE FOR YOU..?
                        </h2>
                    </div>
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/Group 33.png')">
                            <!-- First image on the left side -->
                            <h4 class="title">
                            </h4>
                            <p class="blockquote" style="color: teal;">
                                <strong>                                
                                    BALANCE OF SIMPLICITY AND CAPABILITY
                                </strong>
                                <br> OJO is intuitive and easy to use with little to no learning curve, but still has all of the bells and whistles you need to keep your facilities running smoothly.
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/Group 36.png')"></div>
                    </div>

                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/Group 35.png')"></div>
                        <strong>
                            UNRIVALED CUSTOMER SUPPORT
                        </strong>
                        <p>
                            Software Advice, demonstrating our high levels of customer satisfaction and excellent customer support. We offer free, unlimited support via phone and email and additional educational materials in our online learning center.
                        </p>
                        <p>
                            <strong>INFINITE CONFIGURABILITY
                            </strong>
                            <br> OJO is infinitely configurable, enabling you to ‘build-your-own’ FM system that meets the demands of your organization. Our customer success team is ready to work with you to make sure you have everything you need, and
                            nothing you don’t.
                            <p>
                                <strong>
                                    AGILE SOFTWARE DEVELOPMENT
                            </strong>
                                <br> Our agility allows us to constantly incorporate customer feedback and requests for new features or updates, keep bugs to a minimum, and keep our updates small so they aren’t disruptive or confusing for the user experience.
                            </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- OUR VALUE -->
        <section class="service-grid pb-5 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center mb-4">
                        <div class="service-title">
                            <h4>
                                Our Value
                            </h4>
                        </div>
                    </div>
                </div>

                <!-- START SECTION -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap">
                            <div class="service-icon">
                                <i class="fas fa-database"></i>
                            </div>
                            <h4>Retail Solutions</h4>
                            <p class="description">
                                Sell more products, achieve promotion perfection, deliver faster & smarter, stay in Sync with distributors.
                            </p>
                        </div>
                    </div>
                    <!-- END SECTION -->

                    <!-- START SECTION -->
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap">
                            <div class="service-icon">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                            <h4>Field Service Management</h4>
                            <p class="description">
                                Improves first time fix rates, co-ordinate field service processes, Cut field service costs and increase revenue.
                            </p>
                        </div>
                    </div>
                    <!-- END SECTION -->

                    <!-- START SECTION -->
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap">
                            <div class="service-icon">
                                <i class="fas fa-cogs"></i>
                            </div>
                            <h4>Fleet Management</h4>
                            <p class="description">
                                Track, analyze and improve their fleet operations.
                            </p>
                        </div>
                    </div>
                    <!-- END SECTION -->

                    <!-- START SECTION -->
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap">
                            <div class="service-icon">
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                            <h4>Facility Management</h4>
                            <p class="description">
                                simplifies complex operations, aids cost reduction and improves efficiencies.
                            </p>
                        </div>
                    </div>
                    <!-- END SECTION -->
                </div>
            </div>
        </section>


        <!-- Global Presence -->
        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h4 class="title">
                            Global Presence
                        </h4>
                        <h5 class="description" style="color: black;">
                            <strong style="color: teal; font-weight: bold;">
                                Where we are?
                            </strong>
                            <br> Our Financial and logistics hub is registered in Dubai, UAE. Our Servers hosted in Germany. Our Customers, Distributors and Resellers are in 11 countries; EGYPT, UAE, GERMANY, NIGERIA, KSA, PANAMA, BRAZIL, LIBYA, PAKISTAN,
                            KUWAIT, OMAN and more to come.
                        </h5>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/earn.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- OUR SERVICES -->
        <h1 class="h1-text">
            <i class="fas fa-cogs" aria-hidden="true"></i> OUR SERVICES
        </h1>
        <div class="container">
            <div class="row">
                <!-- START SECTION -->
                <div class="col-lg-3 col-md-12">
                    <div class="box">
                        <div class="content">
                            <img src="assets/img/s-1.png" alt="">
                            <strong>
                        Web development
                    </strong>
                        </div>
                    </div>
                </div>
                <!-- END SECTION -->

                <!-- START SECTION -->
                <div class="col-lg-3 col-md-12">
                    <div class="box">
                        <div class="content">
                            <img src="assets/img/s-2.png" alt="">
                            <strong>Android development</strong>
                        </div>
                    </div>
                </div>
                <!-- END SECTION -->

                <!-- START SECTION -->
                <div class="col-lg-3 col-md-12">
                    <div class="box">
                        <div class="content">
                            <img src="assets/img/s-3.png" alt="">
                            <strong>IOS development</strong>
                        </div>
                    </div>
                </div>
                <!-- END SECTION -->

                <!-- START SECTION -->
                <div class="col-lg-3 col-md-12">
                    <div class="box">
                        <div class="content">
                            <img src="assets/img/s-4.png" alt="">
                            <strong>Consulting App development</strong>
                        </div>
                    </div>
                </div>
                <!-- END SECTION -->
            </div>
        </div>
    </div>
</div>

<app-users></app-users>
<app-brands></app-brands>
<app-footer></app-footer>