<!-- <div class="section section-basic">
    <div class="container">
      <h3 class="title">Basic Elements</h3>
      <div id="buttons">
          <h4>Buttons</h4>
          <p class="category">Pick your style</p>
          <div class="row">
              <div class="col-md-10">
                  <button class="btn btn-primary" type="button">Default</button>
                  <button class="btn btn-primary btn-round" type="button">Round</button>
                  <button class="btn btn-primary btn-round" type="button">
                      <i class="now-ui-icons ui-2_favourite-28"></i> With Icon
                  </button>
                  <button class="btn btn-primary btn-icon btn-round" type="button">
                      <i class="now-ui-icons ui-2_favourite-28"></i>
                  </button>
                  <button class="btn btn-primary btn-simple btn-round" type="button">Simple</button>
              </div>
          </div>
          <p class="category">Pick your size</p>
          <div class="row">
              <div class="col-md-10">
                  <button class="btn btn-primary btn-sm">Small</button>
                  <button class="btn btn-primary">Regular</button>
                  <button class="btn btn-primary btn-lg">Large</button>
              </div>
          </div>
          <p class="category">Pick your color</p>
          <div class="row">
              <div class="col-md-10">
                  <button class="btn">Default</button>
                  <button class="btn btn-primary">Primary</button>
                  <button class="btn btn-info">Info</button>
                  <button class="btn btn-success">Success</button>
                  <button class="btn btn-warning">Warning</button>
                  <button class="btn btn-danger">Danger</button>
                  <button class="btn btn-neutral">Neutral</button>
              </div>
          </div>
          <h4>Links</h4>
          <div class="row">
              <div class="col-md-8">
                  <button class="btn btn-link">Default</button>
                  <button class="btn btn-link btn-primary ">Primary</button>
                  <button class="btn btn-link btn-info">Info</button>
                  <button class="btn btn-link btn-success">Success</button>
                  <button class="btn btn-link btn-warning">Warning</button>
                  <button class="btn btn-link btn-danger">Danger</button>
              </div>
          </div>
      </div>
      <div id="inputs">
          <h4>Inputs</h4>
          <p class="category">Form Controls</p>
          <div class="row">
              <div class="col-sm-6 col-lg-3">
                  <div class="form-group">
                      <input type="text" value="" placeholder="Regular" class="form-control" />
                  </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                  <div class="form-group has-success">
                      <input type="text" value="Success" class="form-control form-control-success" />
                  </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                  <div class="form-group has-danger">
                      <input type="email" value="Error Input" class="form-control form-control-danger" />
                  </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                  <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="fa fa-user-circle"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                  </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                  <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                      <input type="text" class="form-control" placeholder="Right Nucleo Icon" (focus)="focus1=true" (blur)="focus1=false">
                      <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="now-ui-icons users_single-02"></i>
                        </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row" id="checkRadios">
        <div class="col-sm-6 col-lg-3">
            <p class="category">Checkboxes</p>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-sign"></span>
                    Unchecked
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    <span class="form-check-sign"></span>
                    Checked
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" disabled>
                    <span class="form-check-sign"></span>
                    Disabled Unchecked
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked disabled>
                    <span class="form-check-sign"></span>
                    Disabled Checked
                </label>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <p class="category">Radios</p>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                    <span class="form-check-sign"></span>
                    Radio is off
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option2" checked>
                    <span class="form-check-sign"></span>
                    Radio is on
                </label>
            </div>
            <div class="form-check form-check-radio disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option3" disabled>
                    <span class="form-check-sign"></span>
                    Disabled radio is off
                </label>
            </div>
            <div class="form-check form-check-radio disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option4" disabled checked>
                    <span class="form-check-sign"></span>
                    Disabled radio is on
                </label>
            </div>
        </div>
          <div class="col-sm-6 col-lg-3">
              <p class="category">Toggle Buttons</p>
              <bSwitch
                  [(ngModel)]="state">
              </bSwitch>
              <bSwitch> Toggle is off
              </bSwitch>
          </div>
          <div class="col-sm-6 col-lg-3">
              <p class="category">Sliders</p>
              <nouislider class="slider" [min]="0" [max]="100" [step]="1" [(ngModel)]="simpleSlider" [tooltips]="true"></nouislider>
              <br>
              <nouislider class="slider slider-primary" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="doubleSlider" [tooltips]="true"></nouislider>
          </div>
      </div>
    </div>
</div> -->


<!-- <section class="hero-area bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="block">
                    <h1 class="wow fadeInDown" data-wow-delay="0.3s" data-wow-duration=".2s">TRY OUR SERVICE AS ONLINE DEMO AND GET A QUOTE
                    </h1>
                    <p class="wow fadeInDown" data-wow-delay="0.5s" data-wow-duration=".5s">Have you seen the demo ?! , impressive huh! , do you want to try it on your own vehicles, fleet, manage your company workforce, you can do that , Just ask for demo & quote and we will grant you 60 days of free trial with full features.
                    </p>
                    <div class="wow fadeInDown" data-wow-delay="0.7s" data-wow-duration=".7s">
                        <a [routerLink]="['/ojo/login']" class="btn btn-round btn-lg" style="background-color: #056676">GET A QUOTE<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-5 wow zoomIn">
                <div class="block">
                    <div class="counter text-center">
                        <ul id="countdown_dashboard">
                            <li>
                                <div class="dash days_dash">
                                    <div class="digit">11</div>
                                    <span class="dash_title">Countries</span>
                                </div>
                            </li>
                            <li>
                                <div class="dash hours_dash">
                                    <div class="digit">
                                        38000
                                    </div>
                                    <span class="dash_title">Users</span>
                                </div>
                            </li>
                            <li>
                                <div class="dash minutes_dash">
                                    <div class="digit">
                                        58
                                    </div>
                                    <span class="dash_title">Distributors</span>
                                </div>
                            </li>
                            <li>
                                <div class="dash seconds_dash">
                                    <div class="digit">12</div>
                                    <span class="dash_title">
                                        Years
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->



<section id="stats" class="stats section accent-background">

    <img src="assets/img/back_user.png" alt="" data-aos="fade-in">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="11" data-purecounter-duration="0" class="purecounter">11</span>
                    <p>Countries</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="38000" data-purecounter-duration="0" class="purecounter">38000</span>
                    <p>Users</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="58" data-purecounter-duration="0" class="purecounter">58</span>
                    <p>Distributors</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="0" class="purecounter">12</span>
                    <p>Years</p>
                </div>
            </div>
        </div>

    </div>

</section>