<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500" style="background-color: #056676;">
    <div class="container">
        <div class="navbar-translate">
            <img class="navbar-brand" src="/assets/img/logo.png" placement="bottom">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">
                        <p>Home</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/ojo/about-us']">
                        <p>About us</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/ojo/benefits']">
                        <p>Benefits</p>
                    </a>
                </li>

                <li class="nav-item">
                    <div ngbDropdown class="dropdown">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                            <p>
                                Products
                            </p>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['ojo/products/field-staff']">FIELD STAFF MANAGEMENT</a>
                            <a class="dropdown-item" [routerLink]="['ojo/products/fleet-mamangement']">FIEET MANAGEMENT</a>
                            <a class="dropdown-item" [routerLink]="['ojo/products/mdvr']">MDVR & COMMAND AND CONTROL</a>
                            <a class="dropdown-item" [routerLink]="['ojo/products/facility-management']">FACILITY MANAGEMENT</a>
                            <a class="dropdown-item" [routerLink]="['ojo/products/perfect-store']">PERFECT STORE</a>
                            <a class="dropdown-item" [routerLink]="['ojo/products/accident']">ACCIDENT PREVENTION</a>
                            <a class="dropdown-item" [routerLink]="['ojo/products/corps']">CORPS MONITRING</a>
                            <a class="dropdown-item" [routerLink]="['ojo/products/smart']">SMART IRRIGATION</a>
                            <a class="dropdown-item" [routerLink]="['ojo/products/waste']">WASTE MANAGEMENT</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <div ngbDropdown class="dropdown">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                            <p>
                                Industries
                            </p>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['ojo/industries/information']">INFORMATION TECHNOLOGY</a>
                            <a class="dropdown-item" [routerLink]="['ojo/industries/logistics']">LOGISTICS & SUPPLY CHAIN </a>
                            <a class="dropdown-item" [routerLink]="['ojo/industries/maintanence']">MAINTANENCE</a>
                            <a class="dropdown-item" [routerLink]="['ojo/industries/package']">PACKAGE & FREIGHT DELIVERY</a>
                            <a class="dropdown-item" [routerLink]="['ojo/industries/fast-mpving']">FAST_MPVING CONSUMER GOODS (FMCG)</a>
                            <a class="dropdown-item" [routerLink]="['ojo/industries/pharmaceuticals']">PHARMACEUTICALS COMPANIES</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn btn-neutral" [routerLink]="['ojo/contact-us']">
                        <p style="color: teal;">Contact us</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/OjoPlatform" target="_blank">
                        <i class="fab fa-twitter"></i>
                        <p class="d-lg-none d-xl-none">Twitter</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://facebook.com/SatFinderFZCO" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                        <p class="d-lg-none d-xl-none">Facebook</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Youtube" data-placement="bottom" href="https://www.youtube.com/channel/UC5wuHo9IRZaGWSLQo_PyBAA" target="_blank">
                        <i class="fab fa-youtube-square"></i>
                        <p class="d-lg-none d-xl-none">Youtube</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Linkedin" data-placement="bottom" href="https://www.linkedin.com/company/satfinder/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                        <p class="d-lg-none d-xl-none">Linkedin</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>