<div class="wrapper">
    <!-- Control Rooms -->
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/argo-x/applications/Applications.PNG');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    Control Ground Station (CGS)
                </h1>
            </div>
        </div>
    </div>

    <!-- Start Services -->
    <div class="section section-nucleo-icons">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">
                        Smart <span class="b-class-secondary">driving in the sea holds</span> the potential to revolutionize maritime transportation
                    </h2>
                </div>
            </div>

            <!-- Start Services -->
            <div class="row">
                <div class="blog-card">
                    <div class="meta">
                        <div class="photo" style="background-image: url(assets/img/argo-x/benfits/Picture10.png)"></div>
                    </div>
                    <div class="description">
                        <h3 class="title">
                            Control Ground Station (CGS)
                        </h3>
                        <p class="description">
                            Plan and send the mission to the USV before Sailing , View tasks, locations, waypoints status, fuel level, engine status, battery level, temperature, etc, Send mission level commands (change mission and task execution time), Switch from autonomous to
                            remote control mode and use the joystick and CGS console,) Manual movement of camera and mission payload ,Assign targets for tracking and /or remotely firefighting and rescue
                        </p>
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Services -->
        </div>
    </div>
</div>