<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/fmcg.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    FAST-MOVING CONSUMER GOODS (FMCG)
                </h1>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">
                        FAST-MOVING CONSUMER GOODS (FMCG)
                    </h2>
                    <h5 class="description">
                        With OJO, you can easily track and manage the distribution of consumer products with a fast, accurate and enjoyable mechanism.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="separator" style="color: teal;"></div>

    <div class="section">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <div class="team-player">
                        <h3 class="title">
                            If you have a consumer goods distribution company, concentrate on the following to know how to get the best benefits from OJO?
                        </h3>
                        <h5 class="title">
                            optimizing work
                        </h5>
                        <p class="description">
                            With OJO, you can now enjoy a distinctive, unconventional, fast and error free delivering shipments mechanism through which you will gain positive feedbacks form your customers.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Lower costs
                        </h5>
                        <p class="description">
                            With OJO, you will reduce the time taken for delivering and distributing orders to your customer, so the number of orders carried out per day will increase and the number of delegates will decrease.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Easier supply
                        </h5>
                        <p class="description">
                            With OJO, get the highest level of transparency as both the management and customers can follow up on deliveries and instantly track the movements of distribution representatives and monitor orders first-hand.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Higher efficiency
                        </h5>
                        <p class="description">
                            With OJO, track the distribution and delivery of consumer goods shipments to save both time and effort, get a more automated system and increase your company productivity by huge proportions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="separator" style="color: teal;"></div>

    <div class="section">
        <div class="container text-center">
            <div class="row justify-content-md-center">

                <div class="col-md-12 col-lg-8">
                    <div class="team-player">
                        <h3 class="title">
                            How will OJO help you with that?
                        </h3>
                        <h5 class="title">
                            Facilitate the distribution process
                        </h5>
                        <p class="description">
                            OJO will help you to easily distribute products to your customers and track the employees responsible for that. Thus, with OJO, control every detail of the process to get better results.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Delegate assignment scheduling
                        </h5>
                        <p class="description">
                            OJO will help you to automatically distribute and arrange tasks to distribution representatives to ensure the ease and continuity of completing tasks from your team.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            Monitor the performance of field staff
                        </h5>
                        <p class="description">
                            Track your field stuff performance and their line of progress to be able to measure their KPI performance and to make analytical reports on the competency level of the team responsible for distributing consumer goods.
                        </p>
                    </div>

                    <div class="team-player">
                        <h5 class="title">
                            See customer reviews
                        </h5>
                        <p class="description">
                            With OJO, receive all customer feedback, moment by moment, to be able to reinforce your strengths and eliminate your weaknesses
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer footer-default">
        <div class="container">
            <p class="mu-copy-right">&copy; Copyright <a style="color: teal;" rel="nofollow" href="https://sat-finder.com">SAT FINDER</a>. All right reserved.</p>
        </div>
    </footer>
</div>