<app-navbar></app-navbar>
<div class="wrapper">
    <div class="page-header clear-filter" style="background: linear-gradient(0deg, rgba(44, 44, 44, .2), #3b8590);">
        <video class="bg-video page-header-image rellax-header" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="/assets/bg.mp4" type="video/mp4" /></video>

        <div class="container">
            <div class="content-center brand" style="top: 45%;">
                <h1 class="h1-seo" style="font-weight: bold;"><span style="font-size: xx-large;color:  #16BB7F;"><strong style="color: #056676;">OJO</strong> Platform</span></h1>
                <h3 style="color: #FFF;">WHO'S BEHIND OJO ?</h3>
                <p>
                    We work with colleagues, partners and customers, based on one goal, to bring the best of everyone, market penetration and 24/7 support. Business is built not only by great ideas but also with great collaboration, selfless attitudes, charismatic leadership,
                    smart marketing and passionate salesforce. This Family and friends are our teams who made the dream come true.
                </p>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">Our Mission</h2>
                        <h5 class="description">To provide world class solutions regarding fleet management, facility management, field service management and retail execution, using real time tracking, relying on our long accumulated expertise in the global market, and making
                            these solutions available to business owners, fleet managers, operations supervisors and retail professionals. We enhance the performance of our customers by leveraging Big Data analytics and artificial intelligence for better
                            informed decision making and more effective planning, all in one dashboard.
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">Our Vision</h2>
                        <h5 class="description">To support organizations across the globe in their digital transformation, and help them to develop their ability to manage, monitor, control and optimize their business processes and operations, increase real-time productivity
                            and improve customer interactions in ways that maximize revenue and ROI. We also help regional and national companies maximize their revenue with the same analysis tools that major enterprises are using.
                        </h5>
                        <a [routerLink]="['/ojo/about-us']" class="btn btn-round btn-lg" style="background-color: #056676">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-team text-center">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">
                            OUR EXCLUSIVE SERVICES
                        </h2>
                        <h5 class="description">The platform that has all needed features: Rich web applications, Mobile apps, Integration with most GPS trackers, M2M/IoT connectivity, Administrator tools, Billing and Payment, API and Plugins.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 10px; background-color: #056676"><i class="fa fa-arrow-up"></i></div>
                                <h4 class="title">
                                    INCREASED PRODUCTIVITY
                                </h4>
                                <p class="description">
                                    Through our services, you will increase the productivity of your employees and you will optimize your current workflow.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 10px; background-color: #056676"><i class="fa fa-map-marker"></i></div>
                                <h4 class="title">
                                    REAL TIME TRACKING
                                </h4>
                                <p class="description">Locate and track your entire fleet of vehicles in real time through our pioneer tracking software from any location in the world and from your smartphone as well!
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 10px; background-color: #056676"><i class="fa fa-cog"></i></div>
                                <h4 class="title">
                                    MANAGEMENT
                                </h4>
                                <p class="description">Management Section is a good tool to keep track of all paper work related to fleet management such as vehicle documents, licenses, repairs and maintenance carried out. .
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 10px; background-color: #056676"><i class="fa fa-phone"></i></div>
                                <h4 class="title">
                                    24/7 HELP & SUPPORT
                                </h4>
                                <p class="description">we're all about helping you get around. Our Technical Support team is available 24/7 for any questions you may have .

                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 10px; background-color: #056676"><i class="fa fa-paperclip"></i></div>
                                <h4 class="title">
                                    DETAILED REPORTS
                                </h4>
                                <p class="description">Our services will provide you detailed reports directly driven from your vehicles! Get actual control of your assets and optimize the way you used to work until now!

                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 10px; background-color: #056676"><i class="fa fa-lock"></i></div>
                                <h4 class="title">
                                    SECURE ACCOUNT
                                </h4>
                                <p class="description">
                                    Security of your information is one of the most important things that we work on and it is reserved only for you.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" style="background: linear-gradient(0deg, rgba(44, 44, 44, .2), #3b8590);">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">
                            TRY OUR SERVICE AS ONLINE DEMO AND GET A QUOTE
                        </h2>
                        <h5 class="description" style="color: black;">
                            Have you seen the demo ?! , impressive huh! , do you want to try it on your own vehicles, fleet, manage your company workforce, you can do that , Just ask for demo & quote and we will grant you 60 days of free trial with full features.
                        </h5>
                        <a [routerLink]="['/ojo/contact-us']" class="btn btn-round btn-lg" style="background-color: #056676">GET A QUOTE<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Start Portfolio -->
        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">
                            WITH OJO YOU WILL GET
                        </h2>
                        <h5 class="description">With the latest technology in real time tracking, OJO guarantee you a unique experience that you will never regret. With OJO you will get the highest level of productivity from your team while keeping your time, effort and money.
                        </h5>
                    </div>
                </div>
            </div>


            <div class="section section-nucleo-icons">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <h4 class="title">Increase Your Team’s Productivity
                            </h4>
                            <h5 class="description">
                                Do you want to maximize the productivity of your filed staff? If yes, OJO will be your secret key for this. Thus, monitoring and tracking the field staff visits and identifying and resolving problems that prevent your team from achieving the highest rate
                                of customer visits, with OJO will never be an issue.
                            </h5>
                            <a [routerLink]="['/ojo/about-us']" class="btn btn-round btn-lg" style="background-color: #056676">Learn More</a>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="icons-container">
                                <img src="assets/img/ojo/1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section section-nucleo-icons">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="icons-container">
                                <img src="assets/img/ojo/2.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <h4 class="title">
                                Get Effective Communication
                            </h4>
                            <h5 class="description">
                                Communication in any business is a considerable challenge, isn’t it? But with OJO you will master it. OJO will help you unify and organize the methods of communications with your team. Consequently, an effective communication between heads and employees
                                and between employees and each other will surely be guaranteed, so time to complete your tasks with the highest efficiency and without distraction.
                            </h5>
                            <a [routerLink]="['/ojo/about-us']" class="btn btn-round btn-lg" style="background-color: #056676">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section-nucleo-icons">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <h4 class="title">Lower Your Operating Costs
                            </h4>
                            <h5 class="description">
                                Time to say goodbye to the additional costs as saving and reducing the operating costs with OJO will also be guaranteed. Now, with OJO, tasks that were essentially dependent on writing and documenting paper will be accomplished in an orderly digital manner
                                at no additional cost. Thus, with OJO you will save your company’s paper expenses, eliminate the clutter of hard copies and finally quit paper consumption which is one of the most widely used resources in any company.
                            </h5>
                            <a [routerLink]="['/ojo/about-us']" class="btn btn-round btn-lg" style="background-color: #056676">Learn More</a>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="icons-container">
                                <img src="assets/img/ojo/3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section-nucleo-icons">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="icons-container">
                                <img src="assets/img/ojo/4.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <h4 class="title">
                                Distribute Tasks Easily
                            </h4>
                            <h5 class="description">
                                Saving time, money and effort is OJO’s perfect solutions. Thus, distributing daily or monthly tasks orally in meetings or by phone calls is not the best way but OJO will have the way. From now on with OJO, task tables will automatically and periodically
                                be raised and distributed, so going to the office to obtain them will be from the past.
                            </h5>
                            <a [routerLink]="['/ojo/about-us']" class="btn btn-round btn-lg" style="background-color: #056676">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Portfolio -->

        <!-- <app-basicelements></app-basicelements> -->
    </div>


    <!-- <footer class="footer" data-background-color="black">
        <div class="container">
            <p class="mu-copy-right">&copy; Copyright <a style="color: teal;" rel="nofollow" href="https://sat-finder.com">SAT FINDER</a>. All right reserved.</p>

        </div>
    </footer> -->
</div>
<app-users></app-users>
<app-brands></app-brands>
<app-footer></app-footer>