<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/image.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    SMART IRRIGATION
                </h1>
            </div>
        </div>
    </div>

    <div class="section section-team text-center">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <h2 class="title">
                        SMART IRRIGATION SOLUTIONS FOR EFFICIENT WATER MANAGEMENT:
                    </h2>
                    <h5 class="description">
                        Welcome to the future of irrigation – where technology meets sustainability. Our Smart Irrigation solutions harness cutting-edge technology to optimize water usage, conserve resources, and enhance the overall efficiency of your irrigation system. Say
                        goodbye to wasteful practices and hello to a greener, more sustainable landscape.
                    </h5>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-map-marker"></i></div>
                            <h4 class="title">
                                IMPROVE PRODUCTIVITY
                            </h4>
                            <p class="description">
                                The system provides the agricultural industry with information to make more informed decisions and improve productivity by focusing on managing and optimizing water usage at field level.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-mobile"></i>
                            </div>
                            <h4 class="title">
                                MINIMIZES THE WATER WASTE
                            </h4>
                            <p class="description">
                                The solution provides smart Irrigation based on experience not on actual needs of crops which minimizes the water waste due to non-efficient use of water for irrigation.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-laptop"></i></div>
                            <h4 class="title">
                                FORECAST THE NEEDED RESOURCES
                            </h4>
                            <p class="description">
                                The system gives the ability to forecast the needed resources and early assess impacts of any changes which provides the visibility on the overall actual field and environmental data.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-clock-o"></i></div>
                            <h4 class="title">
                                PRECISION AGRICULTURE
                            </h4>
                            <p class="description">
                                The system easily detects precisely and timely the unhealthy crop areas especially for big farms.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-pagelines"></i></div>
                            <h4 class="title">
                                ENHANCING PRECISION
                            </h4>
                            <p class="description">
                                The system objective is to combine data from sensors and software analysis to allow for more precise application of water, while providing the farm manager with piece of mind. We optimize solutions both from a cost and maintenance perspective.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="section section-team text-center">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <h2 class="title">
                        SMART IRRIGATION SOLUTION GENERAL ARCHITECTURE
                    </h2>
                    <img src="assets/img/smart.png" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>


    <div class="section" style="background: linear-gradient(0deg, rgba(44, 44, 44, .2), #3b8590);">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <div class="team-player">
                        <h2 class="title">
                            Smart Irrigation Solution Capabilities
                        </h2>
                        <h5 class="title">
                            Water Metering
                        </h5>
                        <p class="description">
                            Having an accurate view on water consumption allows to compare water usage for different irrigation schedules, provide input to ERP for operational cost calculations, and assist with fertigation and irrigation planning.
                        </p>
                    </div>
                    <div class="team-player">
                        <h5 class="title">
                            Power Metering
                        </h5>
                        <p class="description">
                            Knowing the power usage of pumps add significant value in tracking operational cost, but also allow the monitoring of abnormal behavior such as high-power consumption, which may indicate potential equipment failure or the requirement for maintenance.
                        </p>
                    </div>
                    <div class="team-player">
                        <h5 class="title">
                            Pressure Sensing
                        </h5>
                        <p class="description">
                            Monitoring water pressure throughout the irrigation system is key to ensure any over-pressure is detected and automated corrective action triggered to prevent damage.
                        </p>
                    </div>
                    <div class="team-player">
                        <h5 class="title">
                            Weather Station
                        </h5>
                        <p class="description">
                            In order to accurately forecast soil and crop water needs, local weather data is combined with the evaporation parameters and soil moisture behavior. Regional weather is useful but not as accurate.
                        </p>
                    </div>
                    <div class="team-player">
                        <h5 class="title">
                            Pump Control
                        </h5>
                        <p class="description">
                            When automating irrigation, pump control is critical to ensure safe operational conditions and water supply to fields. This includes adjusting to irrigation demands.
                        </p>
                    </div>
                    <div class="team-player">
                        <h5 class="title">
                            Generator Management
                        </h5>
                        <p class="description">
                            Knowing the exact duration of generator usage allows for precise cost calculation and comparison between generator run time and actual irrigation schedule. Our solution allows for remote control and reporting on generator status.
                        </p>
                    </div>
                    <div class="team-player">
                        <h5 class="title">
                            Valve Control
                        </h5>
                        <p class="description">
                            Many drip irrigation systems still rely on manual valve operation for irrigation. This continues to present challenges with system reliability and operational efficiency. Automating valve control creates a major leap in ease of operation and precise irrigation.
                        </p>
                    </div>
                    <div class="team-player">
                        <h5 class="title">
                            Soil Moisture Measurement
                        </h5>
                        <p class="description">
                            Using multi depth soil moisture measurement for agricultural monitoring, drought and flood forecasting, water supply management, correlation of soil behavior and its index properties, and assessing soil moisture on the field levels before planting.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- <footer class="footer footer-default">
        <div class="container">
            <p class="mu-copy-right">&copy; Copyright <a style="color: teal;" rel="nofollow" href="https://sat-finder.com">SAT FINDER</a>. All right reserved.</p>
        </div>
    </footer> -->
</div>