<!--FIELD STAFF MANAGEMENT -->
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/Group 19.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    FIELD STAFF MANAGEMENT
                </h1>
            </div>
        </div>
    </div>

    <!-- ABOUT FIELD STAFF MANAGEMENT -->
    <div class="section section-team text-center">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <h2 class="title">
                        BOOST YOUR FIELD STAFF PRODUCTIVITY
                    </h2>
                    <h5 class="description" style="color: black;">
                        A Field Force Management Software that helps your business succeed by putting you in firm control of your field staff and off-site activities.
                    </h5>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-paper-plane"></i></div>
                            <h4 class="title">
                                Plan And Schedule Field Activities
                            </h4>
                            <p class="description">
                                OJO allows field managers automatically plan and schedule the activities of their team and publish to their mobile phones. Field teams are notified of these tasks and go about to do them.

                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-bullhorn" aria-hidden="true"></i>
                            </div>
                            <h4 class="title">
                                On-board, train & equip field reps remotely
                            </h4>
                            <p class="description">
                                OJO learnings module helps businesses carry out remote trainings and assessments via the platform. Field workers can access these resources on-the-go to acquire the knowledge required .
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-users"></i></div>
                            <h4 class="title">
                                Track and Monitor workers in the field
                            </h4>
                            <p class="description">
                                OJO, through its web interface and App on mobile devices enables managers to know where field workers are and what is happening in the field in real time .
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-database"></i></div>
                            <h4 class="title">
                                Collect verifiable field data
                            </h4>
                            <p class="description">
                                With OJO’s mobile app, field reps can gather Geo-tagged and time-stamped qualitative and quantitative data as they go about their daily activities .
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-paper-plane"></i></div>
                            <h4 class="title">
                                Gather data, analyse and generate custom report
                            </h4>
                            <p class="description">
                                OJO has a robust business analytics and reporting feature with a dashboard that enables managers to customize and generate reports to meet their needs .
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-cog"></i></div>
                            <h4 class="title">
                                Manage attendance & prepare accurate timesheet
                            </h4>
                            <p class="description">
                                With OJO’s geo-fencing feature, organizations can effectively manage the attendance of their field reps anywhere, anytime .
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- BENEFITS TO ADMINS -->
        <div class="section" style="background: linear-gradient(0deg, rgba(44, 44, 44, .2), #3b8590);">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">
                            BENEFITS TO ADMINS
                        </h2>
                        <p style="color: black;">
                            (Executives, back office staff, Sales Managers, Admin heads, Project Supervisors).<br/> Track and monitor activities of field teams across multiple locations.<br/> Combine and analyze all the data on one dashboard for easy
                            succession-management.
                            <br/> Get real-time reports of their daily work activities in line with their deliverables and validate activity claim.<br/> Able to pay attention to individual sale reps who are constantly on the move and keep an accurate
                            record of jobs completed, hours served.<br/> Schedule auto-tracking feature & verify sales rep location.
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <div class="section section-about-us">
            <div class="container">
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">
                                SOME OF OJO FSM FEATURES
                            </h2>
                        </div>
                        <div class="col-md-6">
                            <div class="image-container image-left" style="background-image: url('assets/img/Group 40.png')">
                                <!-- First image on the left side -->
                                <h4 class="title">
                                </h4>
                                <p class="blockquote" style="color: teal;">
                                    <strong>                                
                                        Real Time Visibility
                                    </strong>
                                    <br> Field OJO, through its web interface and App on mobile devices enables managers to know where field workers are and what is happening in the field in real time.
                                </p>
                            </div>
                            <!-- Second image on the left side of the article -->
                            <div class="image-container" style="background-image: url('assets/img/Group 41.png')"></div>
                        </div>

                        <div class="col-md-5">
                            <!-- First image on the right side, above the article -->
                            <div class="image-container image-right" style="background-image: url('assets/img/Group 42.png')"></div>
                            <strong>
                                Instant Communication
                            </strong>
                            <p>
                                OJO enables remote communication and real time interactions between back office admins and field operations personnel. Team members can also carry out peer to peer communication.

                            </p>
                            <p>
                                <strong>
                                    Attendance & Timesheet
                                </strong>
                                <br> With OJO’s geofencing feature, organizations can effectively manage the attendance of their field reps anywhere, anytime. Field workers can clock in and clock out from anywhere as agreed by their manager to register
                                their attendance for the day.
                            </p>
                            <p>
                                <strong>
                                    Automatic Notifications
                                </strong>
                                <br> OJO generates automatic alerts and notifications on real world events to concerned personnel in response to changes in work schedule, emergency service requests, delays, and other alerts as may be determine and set
                                by users.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section section-examples">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <img src="assets/img/feild_1.png" alt="Image" class="img-raised">
                    </div>
                </div>
            </div>
        </div>
    </div>