<!-- MDVR -->
<app-navbar></app-navbar>

<!-- MDVR -->
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/mdvr_back.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    MDVR
                </h1>
            </div>
        </div>
    </div>

    <!-- ABOUT -->
    <div class="section">
        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h3 class="title">
                            EVENT TRANSMISSION SYSTEM
                        </h3>
                        <p class="description">
                            OJO Event transmission system allows you to view the live video and audio from the vehicle, also records all events for large periods. The system also uses artificial intelligence technology to analyze the driver's performance, detect violations, predict
                            events, detect drowsiness, make sure the seat belt is worn, and other functions.
                            <br> Through the existing integration of OIO in the fleet management system and the event transmission system, the system administrator has full authority to control the vehicle and also know the violations and have sufficient
                            information to make decisions
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/mdvr_screen.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-team text-center">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">
                            OUR SERVICES WILL OFFER YOU:
                        </h2>
                        <h5 class="description" style="color: black;">
                            OJO Fleet is the all-in-one GPS tracking software solution. The platform that has all needed features: Rich web applications, Mobile apps, Integration with most GPS trackers, M2M/IoT connectivity, Administrator tools, Billing and Payment, API and Plugins.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-map-marker"></i></div>
                                <h4 class="title">
                                    REAL TIME TRACKING
                                </h4>
                                <p class="description">
                                    Locate and track your entire fleet of vehicles in real time through our pioneer tracking software from any location in the world and from your smartphone as well!
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-mobile-phone"></i>
                                </div>
                                <h4 class="title">
                                    FREE MOBILE APP
                                </h4>
                                <p class="description">
                                    Tracking software supports Android & IOS mobiles platforms. Application are communicating with server and sending location data which can be reviewed in GPS-server user account.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-laptop"></i></div>
                                <h4 class="title">
                                    USER WEB INTERFACE
                                </h4>
                                <p class="description">
                                    Simple interface for user to login to Platform with Secure Login and multiple language including English, Arabic, French, Spanish, Chinese, etc..

                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-paper-plane"></i></div>
                                <h4 class="title">
                                    REPORTS
                                </h4>
                                <p class="description">
                                    OJO Fleet provides highly flexible GPS tracking solutions, which includes over 30 types of reports that can be tailored to suit your specific requirements.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-paper-plane"></i></div>
                                <h4 class="title">
                                    ADMIN PANEL
                                </h4>
                                <p class="description">
                                    Single management interface with powerful tools for the whole team.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-exclamation"></i></div>
                                <h4 class="title">
                                    ALERTS
                                </h4>
                                <p class="description">
                                    Depending on the importance of events OJO Platform enables timely alert and reporting via email and SMS for any pre-defined activity.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section" style="background: linear-gradient(0deg, rgba(44, 44, 44, .2), #3b8590);">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <div class="team-player">
                            <h5 class="title">
                                Fleet management
                            </h5>
                            <p class="description">
                                comprises the target-oriented, optimal planning, supervision, and control of the fleet operations based on the available resources, considering internal and external influencing factors.
                            </p>
                        </div>
                        <div class="team-player">
                            <h5 class="title">
                                Main goals for operational efficiencies:
                            </h5>
                            <p class="description">
                                increasing competition among fleet operators
                                <br> increasing customer services and profitability
                                <br> improving fuel efficiency to reduce operational costs
                            </p>
                        </div>
                        <div class="team-player">
                            <h5 class="title">
                                GPS vehicle tracking </h5>
                            <p class="description">
                                Monitoring the location of a truck, car or any moving vehicle using the GPS system. Vehicle tracking systems are commonly used by fleet operators for fleet management functions such as fleet tracking, routing, dispatching, on-board information and security.
                            </p>
                        </div>
                        <div class="team-player">
                            <h5 class="title">
                                Advantages
                            </h5>
                            <p class="description">
                                Improves productivity and maximize driver satisfaction
                                <br> Reduce operating costs and Increase profitability
                                <br> Speed up logistics activities and deliveries
                                <br> Reduce operating costs and Increase profitability
                            </p>
                        </div>
                        <div class="team-player">
                            <h4 class="title">
                                Discover the IOT fleet management Solutions
                            </h4>
                            <a href="/products/Fleet Management Solution.pdf" class="btn btn-round btn-lg" style="background-color: #056676">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section">
            <div class="section section-nucleo-icons">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <h5 class="description">
                                Mobile and web-based REAL-TIME GPS TRACKING App, you can Mark the point of interest POI place, building, or street name on map, GEO-FENCE feature enables you to identify a geographical zone, in order to be notified by ENTRY/ EXIT ALERT to/ from the preset
                                zone. Moreover, you can receive VARIOUS NOTIFICATIONS such as ENGINE IGNITION, doors SENSORS, SOS, speed, FUEL MILEAGE. Fleet managers can keep a track of EXCESSIVE IDLING and OVER SPEEDING of vehicles. There can be comparison
                                of idle time and the amount of fuel consumed, which benefits Increased FUEL EFFICIENCY.
                            </h5>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="icons-container">
                                <img src="assets/img/fleet1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section-nucleo-icons">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="icons-container">
                                <img src="assets/img/Fleet2.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <h5 class="description">
                                Greater care of the company vehicle usage will be taken, As DRIVING BEHAVIOR, speed and Fuel mileage are being monitored, In addition to COST REDUCTION, it reduces unsafe driving and amplify company's reputation. Also PARKING and ROUTE MANAGEMENT features
                                provides accurate data when a vehicle turns ON/OFF and arrival/departure of a vehicle from/to IDENTIFIED STOPPAGES and parking lots with ATTENDANCE SCHEDULE. It gives the ability to pinpoint any UNAUTHORIZED USAGE, and
                                avoid route deviation by providing the SHORTEST ROUTE.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section-nucleo-icons">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <h5 class="description">
                                FLEET MAINTENANCE, will extend the life for your vehicle Spare parts and to keep the vehicle SCHEDULED MAINTENANCE on time thus increasing productivity. We have given you a space to monitor your fleet expenses including each vehicle fuel cost and SPARE
                                PARTS COST. MAINTENANCE ALERTS can be set based on date and time or mileage depending on the Alarm you wish to receive. which results in DEPRECIATION REDUCTION and OPTIMIZED EXPENSES.
                            </h5>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="icons-container">
                                <img src="assets/img/Fleet3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section-nucleo-icons">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="icons-container">
                                <img src="assets/img/Fleet4.png" alt="">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <h5 class="description">
                                DASHBOARD with all VITAL INFORMATION are listed and illustrated in a single view. Fleet Managers can EASILY MONITOR all the current activities of the vehicles which include fleet maintenance status, location, speed, distance with all durations and alerts
                                via Notification that affecting DRIVER PERFORMANCE. In addition, a customizable DETAILED REPORT with filters and different search criteria, we also provide TWO YEARS of PLAYBACK HISTORY of route, stoppages, location and
                                speed.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <footer class="footer footer-default">
            <div class="container">
                <p class="mu-copy-right">&copy; Copyright <a style="color: teal;" rel="nofollow" href="https://sat-finder.com">SAT FINDER</a>. All right reserved.</p>
            </div>
        </footer> -->
    </div>

    <app-users></app-users>
    <app-brands></app-brands>
    <app-footer></app-footer>