<!-- OUR BENEFITS -->
<app-navbar></app-navbar>
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/benf.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    OUR BENEFITS
                </h1>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h4 class="title">
                            Increase Your Team’s Productivity
                        </h4>
                        <h5 class="description">
                            Do you want to maximize the productivity of your filed staff? If yes, OJO will be your secret key for this. Thus, monitoring and tracking the field staff visits and identifying and resolving problems that prevent your team from achieving the highest rate
                            of customer visits, with OJO will never be an issue.
                        </h5>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <h4 class="title">
                            Get Effective Communication
                        </h4>
                        <h5 class="description">
                            Communication in any business is a considerable challenge, isn’t it? But with OJO you will master it. OJO will help you unify and organize the methods of communications with your team. Consequently, an effective communication between heads and employees
                            and between employees and each other will surely be guaranteed, so time to complete your tasks with the highest efficiency and without distraction.
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h4 class="title">Lower Your Operating Costs
                        </h4>
                        <h5 class="description">
                            Time to say goodbye to the additional costs as saving and reducing the operating costs with OJO will also be guaranteed. Now, with OJO, tasks that were essentially dependent on writing and documenting paper will be accomplished in an orderly digital manner
                            at no additional cost. Thus, with OJO you will save your company’s paper expenses, eliminate the clutter of hard copies and finally quit paper consumption which is one of the most widely used resources in any company.
                        </h5>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/4.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <h4 class="title">
                            Distribute Tasks Easily
                        </h4>
                        <h5 class="description">
                            Saving time, money and effort is OJO’s perfect solutions. Thus, distributing daily or monthly tasks orally in meetings or by phone calls is not the best way but OJO will have the way. From now on with OJO, task tables will automatically and periodically
                            be raised and distributed, so going to the office to obtain them will be from the past.
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h4 class="title">
                            Get Your Team Ready
                        </h4>
                        <h5 class="description">
                            As the efficiency of salesmen and Maintenance representatives is crystalized in their familiarity with all customer’s information, OJO got it and provides you with a digital organized place through which you can access the records of customer service,
                            contracts, agreements and all the information about the products.
                        </h5>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/11.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/12.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <h4 class="title">
                            Satisfy Your Customer
                        </h4>
                        <h5 class="description">
                            As the existing customer is a bird in hand, satisfying your existing customers is not an option but a must. With OJO you will be the perfect fit for them. Through following up your employees, making sure that they carry on their tasks in the optimal way
                            at the allocated time and following up all the details of contracts and agreement to ensure its accuracy, OJO will enable you to be everywhere as if you supervise yourself on every visit made by your employees.
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h4 class="title">
                            Monitor Daily Expenses
                        </h4>
                        <h5 class="description">
                            Monitoring the daily expenses of workers is a necessity, especially with regard to salesmen and maintenance and distribution representatives. thus, OJO will remove your burden and will make it automatic. With OJO, each employee can document his daily
                            expenses on it and periodically will be shown to the administration, with the possibility of making a report out of it. Use OJO and save time and effort.
                        </h5>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/13.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/14.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <h4 class="title">
                            Make it Easy For Customers
                        </h4>
                        <h5 class="description">
                            Make your communication hassle- free with OJO. OJO will provide you with an application through which the client can submit his order then the administration will allocate one of the employees to fulfill the order. This application will not only save
                            time and the hassle of commutation but also the customer will be able to evaluate the service which is beneficial for both sides.
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h4 class="title">
                            Be Everywhere
                        </h4>
                        <h5 class="description">
                            Without doubt, being present everywhere is not that easy but surely is super effective. With OJO you can achieve this. All companies strive to make sales points spread everywhere. With OJO, you can consider your sales, maintenance and distribution representatives
                            as movable points of sale offering your services or products. Thus, they can sell, return products or print invoices to customers easily from anywhere they are.
                        </h5>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/15.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <footer class="footer footer-default">
        <div class="container">
            <p class="mu-copy-right">&copy; Copyright <a style="color: teal;" rel="nofollow" href="https://sat-finder.com">SAT FINDER</a>. All right reserved.</p>
        </div>
    </footer> -->
</div>

<app-users></app-users>
<app-brands></app-brands>
<app-footer></app-footer>