<!-- <div class="wrapper">
    <div class="page-header clear-filter"> -->
<!-- <video class="bg-video page-header-image rellax-header" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="/assets/img/cover.mp4" type="video/mp4" /></video> -->

<!-- <div class="container">
            <div class="content-center brand" style="top: 8%; left: 0px;">
                <h1 class="h1-seo" style="font-weight: bold; color: #FFF;">SAT FINDER</h1>
            </div>
        </div>
    </div>
</div> -->

<div class="navbar">
    <div class="logo">SAT FINDER</div>
    <nav>
        <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/OjoPlatform" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://facebook.com/SatFinderFZCO" target="_blank">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a class="nav-link" rel="tooltip" title="Follow us on Youtube" data-placement="bottom" href="https://www.youtube.com/channel/UC5wuHo9IRZaGWSLQo_PyBAA" target="_blank">
            <i class="fab fa-youtube-square"></i>
        </a>
        <a class="nav-link" rel="tooltip" title="Follow us on Linkedin" data-placement="bottom" href="https://www.linkedin.com/company/satfinder/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
    </nav>
</div>

<div class="header-text">
    <div class="text-content">
        <h1>OJO</h1>
        <p>
            All in one platform for your business to track and manage fleet and workforce
            <a [routerLink]="['/home']">Get More Information</a>
    </div>

    <div class="text-content">
        <h1>TOPHAN</h1>
        <p>
            The Ultimate Search, Rescue, and Firefighting Solution for maritime.
            <a [routerLink]="['/argo-x/commercial/commercial-home']">Commercial</a>
            <a [routerLink]="['/argo-x/military/military']">Military</a>
    </div>
</div>


<!-- <video autoplay loop muted plays-inline>
                <source src="video1.mp4" type="video/mp4">
            </video> -->