<app-navbar></app-navbar>

<!-- WASTE MANAGEMENT -->
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/ojo/waste.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    WASTE MANAGEMENT
                </h1>
            </div>
        </div>
    </div>


    <!-- ABOUT -->
    <div class="section section-team text-center">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <h2 class="title">
                        SMART WASTE MANAGEMENT SOLUTION BENEFITS
                    </h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-map-marker"></i></div>
                            <h4 class="title">
                                IMPROVE PRODUCTIVITY
                            </h4>
                            <p class="description">
                                The system provides the agricultural industry with information to make more informed decisions and improve productivity by focusing on managing and optimizing water usage at field level.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-mobile"></i>
                            </div>
                            <h4 class="title">
                                Dynamic Navigation
                            </h4>
                            <p class="description">
                                The system optimizes waste collection routes and creates schedules based on data and predictive analytics to pre-allocate waste containers that are expected to be filled quickly.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-laptop"></i></div>
                            <h4 class="title">
                                Minimize Cost
                            </h4>
                            <p class="description">
                                Smart waste management contributes to significantly reducing waste collection when the container filling rate is slow, which allows saving fuel, labor, vehicle operating time and improving the environment.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-clock-o"></i></div>
                            <h4 class="title">
                                Asset Management
                            </h4>
                            <p class="description">
                                Tracking the location of containers using a locator located inside the waste level sensor, detecting fires or physical damage, and saving containers from theft or damage.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-pagelines"></i></div>
                            <h4 class="title">
                                Fleet Management
                            </h4>
                            <p class="description">
                                The system monitors and analyzes the performance of cars and drivers in waste collection operations, fuel consumption, and braking patterns to reduce maintenance and operating costs for cars.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section" style="background: linear-gradient(0deg, rgba(44, 44, 44, .2), #3b8590);">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <div class="team-player">
                        <h2 class="title">
                            Smart Waste Management Solution Key Performance Indicators
                        </h2>
                        <p class="description">
                            Number of main streets that have not been cleaned
                        </p>
                    </div>
                    <div class="team-player">
                        <p class="description">
                            The rate of collection, unloading and transporting waste containers
                        </p>
                    </div>
                    <div class="team-player">
                        <p class="description">
                            The rate of development of waste collection operations in real time
                        </p>
                    </div>
                    <div class="team-player">
                        <p class="description">
                            Percentage of commitment to implementing operational plans
                        </p>
                    </div>
                    <div class="team-player">
                        <p class="description">
                            Speed of response to hygiene reports
                        </p>
                    </div>
                    <div class="team-player">
                        <p class="description">
                            Public satisfaction with cleaning operations
                        </p>
                    </div>
                    <div class="team-player">
                        <p class="description">
                            Statistics of reports and their open/closed/pending/escalated status at different periods daily/weekly/monthly/yearly
                        </p>
                    </div>
                    <div class="team-player">
                        <p class="description">
                            Report statistics by municipalities/locations
                        </p>
                    </div>
                    <div class="team-player">
                        <p class="description">
                            Task statistics by status (open - closed - scheduled - assigned) and during different time periods daily / weekly / monthly / yearly.
                        </p>
                    </div>
                    <div class="team-player">
                        <p class="description">
                            Task statistics by locations/observers
                        </p>
                    </div>
                    <div class="team-player">
                        <p class="description">
                            The number of vehicle drivers who do not adhere to the speed limits set according to the operational plan
                        </p>
                    </div>
                    <div class="team-player">
                        <p class="description">
                            The rate of vehicle drivers’ adherence to the speed limit on designated lanes
                        </p>
                    </div>
                    <div class="team-player">
                        <p class="description">
                            The number of vehicle drivers absent from work according to the operational plan
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section">
        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h4 class="title">
                            Smart Waste Management Solution Operation
                        </h4>
                        <ul>
                            <li>
                                Continuously monitor the level of waste inside the waste containers in real time.
                            </li>
                            <li>
                                Automated alarm to the contractor, suitable vehicle, and data center if waste level exceeds the critical level.
                            </li>
                            <li>
                                Optimal path planning for waste collection to reduce effort and cost as well as saving the environment. and the quality of the crops that have been grown.
                            </li>
                            <li>
                                Trucks receive tasks and routes on the map through a mobile application on the mobile data terminal.
                            </li>
                            <li>
                                Mobile application for waste producers (customers) to submit complaints about waste collection or any abnormal events and emergency incidents, and follow up their complaints status.
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/ojo/smart2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-users></app-users>
<app-brands></app-brands>
<app-footer></app-footer>