<div class="wrapper">
    <!-- Tophan-C Benefits -->
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/tophan/applications/Applications.PNG');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    SMART DRIVING IN THE SEA
                </h1>
                <h4 class="description">
                    Self-driving (autonomous) capabilities in Unmanned Surface Vehicles
                </h4>
            </div>
        </div>
    </div>

    <!-- ADVERTISERS SERVICE CARD -->
    <section id="advertisers" class="advertisers-service-sec pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">
                        Smart <span class="b-class-secondary">driving in the sea holds</span> the potential to revolutionize maritime transportation
                    </h2>
                    <h5 class="description">
                        by improving safety, efficiency, and sustainability. As technology continues to advance, we can expect further developments in autonomous navigation, data analytics, and integration with other smart systems to drive the future of smart transportation
                        in the sea, and some key aspects of smart driving in the sea :-
                    </h5>
                </div>
            </div>
            <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-4 justify-content-center">
                <div class="col">
                    <div class="service-card">
                        <div class="icon-wrapper">
                            <i class="fa fa-car" aria-hidden="true"></i>
                        </div>
                        <h3>
                            Autonomous Navigation
                        </h3>
                        <p>
                            Autonomous navigation systems enable vessels to operate without human intervention or with minimal human oversight. These systems utilize various sensors, such as GPS, radar, sonar, and cameras, to perceive the environment, detect obstacles, and make
                            navigational decisions. Autonomous vessels can follow predefined routes, avoid collisions, and adapt to changing conditions.
                        </p>
                    </div>
                </div>

                <div class="col">
                    <div class="service-card">
                        <div class="icon-wrapper">
                            <i class="fas fa-chart-pie"></i>
                        </div>
                        <h3>
                            Collision Avoidance
                        </h3>
                        <p>
                            Smart driving systems in the sea incorporate collision avoidance algorithms and sensors to detect and track other vessels, obstacles, and navigational hazards. By analyzing the data from sensors, vessels can make real-time decisions to avoid potential
                            collisions and maintain a safe distance from other objects.
                        </p>
                    </div>
                </div>

                <div class="col">
                    <div class="service-card">
                        <div class="icon-wrapper">
                            <!-- <i class="fa-solid fa-globe"></i> -->
                            <i class="fa fa-route"></i>
                        </div>
                        <h3>
                            Route Optimization
                        </h3>
                        <p>
                            Smart driving systems can optimize vessel routes based on factors such as weather conditions, traffic congestion, fuel efficiency, and time constraints. By considering these variables, vessels can select the most efficient and cost-effective routes, reducing
                            fuel consumption and emissions.
                        </p>
                    </div>
                </div>

                <div class="col">
                    <div class="service-card">
                        <div class="icon-wrapper">
                            <i class="fa fa-globe"></i>
                        </div>
                        <h3>
                            Environmental Monitoring
                        </h3>
                        <p>
                            Smart driving systems can integrate environmental sensors to monitor water quality, weather conditions, and marine ecosystems. This data can be used to assess the impact of vessel operations on the environment, make informed decisions regarding route
                            planning, and support sustainable practices.
                        </p>
                    </div>
                </div>

                <div class="col">
                    <div class="service-card">
                        <div class="icon-wrapper">
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </div>
                        <h3>
                            Data Analytics and Decision Support
                        </h3>
                        <p>
                            Smart driving systems can collect and analyze vast amounts of data from various sources, including sensors, weather forecasts, and historical data. By leveraging data analytics and machine learning algorithms, vessels can make informed decisions, optimize
                            operations, and improve performance.
                        </p>
                    </div>
                </div>

                <div class="col">
                    <div class="service-card">
                        <div class="icon-wrapper">
                            <i class="fas fa-cogs"></i>
                        </div>
                        <h3>
                            Remote Monitoring and Control
                        </h3>
                        <p>
                            Smart driving systems enable remote monitoring and control of vessels from onshore or control centers. This allows for real-time monitoring of vessel operations, performance, and safety, as well as remote intervention if necessary.
                        </p>
                    </div>
                </div>

                <div class="col">
                    <div class="service-card">
                        <div class="icon-wrapper">
                            <i class="fa fa-battery-three-quarters"></i>
                        </div>
                        <h3>
                            Energy Efficiency
                        </h3>
                        <p>
                            Smart driving systems can optimize vessel operations to improve energy efficiency and reduce fuel consumption. This can include optimizing speed, adjusting routes based on weather conditions, and utilizing advanced propulsion systems.
                        </p>
                    </div>
                </div>

                <div class="col">
                    <div class="service-card">
                        <div class="icon-wrapper">
                            <i class="fa fa-paperclip"></i>
                        </div>
                        <h3>
                            Integration with Port & Logistics Systems
                        </h3>
                        <p>
                            Smart driving systems can integrate with port and logistics systems to optimize vessel scheduling, cargo handling, and port operations. This integration improves efficiency, reduces waiting times, and enhances overall supply chain management.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ADVERTISERS SERVICE CARD ENDED -->
</div>