::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
    position: relative;
    display: inline-block;
    display: flex;
    flex: auto;
    align-self: stretch;
    overflow: hidden;
    white-space: nowrap;
    transform: translate(0);
    /* background: linear-gradient(0deg, rgba(44, 44, 44, .2), #3b8590); */
    padding: 15px;
}

::ng-deep .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab {
    margin: 0;
    padding: 8px 38px;
    border: 1px solid #f0f0f0;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

::ng-deep .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
    color: #056676;
    background: #fff;
}

::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #056676;
    font-weight: bold;
    text-shadow: 0 0 .25px currentcolor;
}

::ng-deep .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab {
    border-radius: 8px;
}

.description {
    color: black;
}