<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/Group 17.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    PERFECT STORE
                </h1>
            </div>
        </div>
    </div>



    <nz-tabset nzType="card">
        <!-- ROLES -->
        <nz-tab nzTitle="ROLES">
            <div class="section section-about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">
                                Get our solutions for every side of retail execution.
                            </h2>
                            <h5 class="description" style="color: black;">
                                Choose your role from the four options below:
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <nz-tabset nzType="card">
                <!-- MERVHANDISING -->
                <nz-tab nzTitle="MERVHANDISING">
                    <div class="section" style="background: linear-gradient(0deg, rgba(44, 44, 44, .2), #3b8590);">
                        <div class="container text-center">
                            <div class="row justify-content-md-center">
                                <div class="col-md-12 col-lg-8">
                                    <div class="team-player">
                                        <h5 class="title">
                                            Do you work in a merchandising team?
                                        </h5>
                                        <h6 class="title">
                                            OJO mobile retail app improves retail performance through :
                                        </h6>
                                        <p class="description">
                                            <strong>Easy to use interface:</strong> attractive, friendly, and accurate that prevents mistakes.
                                        </p>
                                        <p class="description">
                                            <strong>No more manual white paper reports: </strong> you can export your reports to pdf or excel sheets.
                                        </p>
                                        <p class="description">
                                            <strong>Offering helpful offline features: </strong> that helps employees keep up with emergency cases like when you are in places that have no signal.
                                        </p>
                                        <p class="description">
                                            <strong>Easy and simple access to app features: </strong> such as planograms, reports and sales collateral.
                                        </p>
                                        <p class="description">
                                            <strong>Enabling barcode scanning: </strong> for quickly uploading product information.
                                        </p>
                                        <p class="description">
                                            <strong>Providing image recognition: </strong> to allow employees to take images and complete store forms that can be accessed easily from mobile and can be checked any time by management
                                        </p>
                                    </div>

                                    <div class="team-player">
                                        <h5 class="title">
                                            OJO mobile retail app also help management team through :
                                        </h5>
                                        <p class="description">
                                            <strong>Motivation: </strong> by presenting employee’s KPIs so they can determine to what extent they have reached in their performance.
                                        </p>
                                        <p class="description">
                                            <strong>Real-time data: </strong> to measure performance and gather information about all teams.
                                        </p>
                                        <p class="description">
                                            <strong>Increasing ‘perfect store’ compliance: </strong> by sharing required visions and automatically assigning activities and tasks based on data collected in the field.
                                        </p>
                                        <p class="description">
                                            <strong>Reducing field training: </strong> with easy instructions that facilitate using the app
                                        </p>
                                        <p class="description">
                                            <strong>Advanced store audit: </strong> that helps you keep tabs on stock levels, shelf-share and promotion compliance.
                                        </p>
                                        <p class="description">
                                            <strong>Photos of promotions and store conditions: </strong> that employees take in the field
                                        </p>
                                        <p class="description">
                                            <strong>Enhancing revenues: </strong> by managing trade promotions and sales activities.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </nz-tab>

                <!-- SALES -->
                <nz-tab nzTitle="SALES">
                    <div class="section" style="background: linear-gradient(0deg, rgba(44, 44, 44, .2), #3b8590);">
                        <div class="container text-center">
                            <div class="row justify-content-md-center">
                                <div class="col-md-12 col-lg-8">
                                    <div class="team-player">
                                        <h5 class="title">
                                            Do you work in a sales team?
                                        </h5>
                                        <h6 class="title">
                                            OJO mobile retail app improves your sales team performance through :
                                        </h6>
                                        <p class="description">
                                            <strong>There is no longer any need to do pre-store research: </strong> all required data is available on the app dashboard.
                                        </p>
                                        <p class="description">
                                            <strong>No more manual white paper reports: </strong> you can export your reports to pdf or excel sheets.
                                        </p>
                                        <p class="description">
                                            <strong>No more mistakes or inaccurate data: </strong> data collection are done automatically by OJO
                                        </p>
                                        <p class="description">
                                            <strong>No more conflicted data about available products: </strong> real-time data provided by OJO app facilitate collecting the right information about out of stock products.
                                        </p>
                                    </div>

                                    <div class="team-player">
                                        <h5 class="title">
                                            OJO mobile retail app also help management team through:
                                        </h5>
                                        <p class="description">
                                            <strong>Motivation: </strong> by presenting employee’s KPIs so they can determine to what extent they have reached in their performance.
                                        </p>
                                        <p class="description">
                                            <strong>Increasing sales with new visions: </strong> automatically assign a task to employees and show available employees, distributors, and products with real-time data to assign tasks appropriately.
                                        </p>
                                        <p class="description">
                                            <strong>Saving power of trainings: </strong> with easy user interface that makes it easy to use app functions.
                                        </p>
                                        <p class="description">
                                            <strong>Having a good vision to control all required teams: </strong> through KPIS and tracking system.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </nz-tab>

                <!-- IT -->
                <nz-tab nzTitle="IT">
                    <div class="section" style="background: linear-gradient(0deg, rgba(44, 44, 44, .2), #3b8590);">
                        <div class="container text-center">
                            <div class="row justify-content-md-center">
                                <div class="col-md-12 col-lg-8">
                                    <div class="team-player">
                                        <h5 class="title">
                                            Do you work in an IT team?
                                        </h5>
                                        <h6 class="title">
                                            OJO mobile retail app improves retail performance through :
                                        </h6>
                                        <p class="description">
                                            <strong>Security and encrypted information:</strong> are the most important features of our app.
                                        </p>
                                        <p class="description">
                                            <strong>No more manual white paper reports: </strong> you can export you reports to pdf or excel sheets.
                                        </p>
                                        <p class="description">
                                            <strong>No more mistakes or inaccurate data: </strong> Data collection are done automatically by OJO.
                                        </p>
                                        <p class="description">
                                            <strong>No more conflicted data about available products: </strong>real-time data provided by OJO app facilitate collecting the right information about out of stock products.
                                        </p>
                                        <p class="description">
                                            <strong>There is no longer any need to do pre-store research: </strong> all required data is available on the app dashboard.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-tab>

                <!-- MANAGERS -->
                <nz-tab nzTitle="MANAGERS">
                    <div class="section" style="background: linear-gradient(0deg, rgba(44, 44, 44, .2), #3b8590);">
                        <div class="container text-center">
                            <div class="row justify-content-md-center">
                                <div class="col-md-12 col-lg-8">
                                    <div class="team-player">
                                        <h5 class="title">
                                            Do you want to grow the specific Category that you manage?
                                        </h5>
                                        <h6 class="title">
                                            OJO mobile retail app helps you streamline order taking, the order taking process doesn’t just save you time and effort but also saves you money. Here are our top tips for streamlining fulfillment:
                                        </h6>
                                        <p class="description">
                                            <strong>Motivation: </strong>Quality starts with a well-studied definition of new features, with detailed features and capabilities description that provided by our app.
                                        </p>
                                        <p class="description">
                                            <strong>Increase sales with creative visions: </strong> Assign sales tasks to reps with real-time data on sales history and in-store product availability.
                                        </p>
                                        <p class="description">
                                            <strong>Follow up: </strong> make sure that employees complete their tasks by accessing all needed data and check progress diagrams.
                                        </p>
                                        <p class="description">
                                            <strong>Problem Solving: </strong> quickly and consider reducing costs.
                                        </p>
                                        <p class="description">
                                            <strong>Complete vision: </strong> on all sales process.
                                        </p>
                                        <p class="description">
                                            <strong>Control your workforce: </strong> through an accurate and simple interface that have all required data and helpful features for your workforce.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-tab>
            </nz-tabset>

        </nz-tab>

        <!-- MERCHANDISING -->
        <nz-tab nzTitle="MERCHANDISING">
            <div class="section section-about-us">
                <div class="container">
                    <div class="section-story-overview">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h2 class="title">
                                    Merchandising
                                </h2>
                            </div>
                            <div class="col-md-6">
                                <div class="image-container image-left" style="background-image: url('assets/img/merch1.png')">
                                    <!-- First image on the left side -->
                                    <h4 class="title">
                                    </h4>
                                    <p class="blockquote" style="color: teal;">
                                        <strong>                                
                                            Optimize perfect store achievement
                                        </strong>
                                        <br> OJO mobile retail app finally makes it possible to reach the company’s retail goals with full functionality for merchandising.

                                    </p>
                                </div>
                                <!-- Second image on the left side of the article -->
                                <div class="image-container" style="background-image: url('assets/img/merch2.png')"></div>
                            </div>

                            <div class="col-md-5">
                                <!-- First image on the right side, above the article -->
                                <div class="image-container image-right" style="background-image: url('assets/img/merch3.png')"></div>
                                <strong>
                                    Control your merchandisers in the field perfectly
                                </strong>
                                <p>
                                    OJO mobile retail app helps you manage your staff’s store visits and improve relationships with your clients. your management team can now Determine the efficiency and effectiveness of retail activities though :
                                    <br><br>
                                </p>
                                <ul>
                                    <li>
                                        KPIs to improve productivity
                                    </li>
                                    <li>
                                        Structuring shelf with the right products
                                    </li>
                                    <li>
                                        Task prioritization
                                    </li>
                                    <li>
                                        Empowering reps with actionable insights
                                    </li>
                                    <li>
                                        Scheduling customer visits
                                    </li>
                                </ul>
                                <p>
                                    <strong>
                                        Deepening the vision about products for your reps
                                    </strong>
                                    <br> OJO mobile retail app gives your teams the vision they need to improve products presentation and be updated with app If you still feel a lack of reasons to use OJO mobile retail app for retail business, let's then
                                    dive deeper with helpful functionalities that includes :
                                </p>
                                <ul>
                                    <li>Planogram compliance surveys
                                    </li>
                                    <li>
                                        Retail audit surveys
                                    </li>
                                    <li>
                                        Collateral sharing
                                    </li>
                                    <li>
                                        Store performance metrics
                                    </li>
                                    <li>
                                        Barcode scanning
                                    </li>
                                    <li>
                                        Photo capture
                                    </li>
                                    <li>
                                        KPI-tracking dashboards
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-tab>

        <!-- SALES -->
        <nz-tab nzTitle="SALES">
            <div class="section section-about-us">
                <div class="container">
                    <div class="section-story-overview">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h2 class="title">
                                    Sales
                                </h2>
                            </div>
                            <div class="col-md-6">
                                <div class="image-container image-left" style="background-image: url('assets/img/sales1.png')">
                                    <!-- First image on the left side -->
                                    <h4 class="title">
                                    </h4>
                                    <p class="blockquote" style="color: teal;">
                                        <strong>                                
                                            OJO mobile retail app helps you distinguish in your market field
                                        </strong>
                                        <br> Sharing real-time data about prices and product features to avoid conflicts that may affect customer’s trust in your product. </p>
                                </div>
                                <!-- Second image on the left side of the article -->
                                <div class="image-container" style="background-image: url('assets/img/sales2.png')"></div>
                            </div>

                            <div class="col-md-5">
                                <!-- First image on the right side, above the article -->
                                <div class="image-container image-right" style="background-image: url('assets/img/sales3.png')"></div>
                                <strong>
                                    Maximize your sales and increase customers
                                </strong>
                                <p>
                                    OJO mobile retail app is a smart and powerful platform that guides employees through their roles and activities. It helps reps to explore customer need through the user interface of the application because of real-time data provided through our app. It
                                    Increases sales team efficiency by focusing on highest impact activity and Increases sales team effectiveness by applying the correct in-store standards.
                                </p>
                                <ul>
                                    <li>
                                        Get a real-time overview of individuals and teams activities.
                                    </li>
                                    <li>
                                        Save sales efforts through route planning and GPS tracking
                                    </li>
                                    <li>
                                        Ensure that employee focus on high-priority customers
                                    </li>
                                    <li>
                                        Study reporting, market research, and analysis to identify trends and continuously optimize sales strategies
                                    </li>
                                </ul>
                                <h4>
                                    Inspire more active sales plans
                                </h4>
                                <br> Data gathered in the field through our app is reachable to the management team to track progress and required information to put accurate plans
                                <br> Your management team can :
                                <ul>
                                    <li>
                                        Get a real-time overview of individuals and teams activities.
                                    </li>
                                    <li>
                                        Save sales efforts through route planning and GPS tracking
                                    </li>
                                    <li>
                                        Ensure that employee focus on high-priority customers
                                    </li>
                                    <li>
                                        Study reporting, market research, and analysis to identify trends and continuously optimize sales strategies
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-tab>

        <!-- DISTRIBUTION -->
        <nz-tab nzTitle="DISTRIBUTION">
            <div class="section section-about-us">
                <div class="container">
                    <div class="section-story-overview">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h2 class="title">
                                    Distribution
                                </h2>
                            </div>
                            <div class="col-md-6">
                                <div class="image-container image-left" style="background-image: url('assets/img/dis1.png')">
                                    <!-- First image on the left side -->
                                    <h4 class="title">
                                    </h4>
                                    <p class="blockquote" style="color: teal;">
                                        <strong>                                
                                            Increase profits with stronger vision into distributor team
                                        </strong>
                                        <br> OJO mobile retail app improves professional communication between your head office and your distributor field teams and distribution centers.
                                    </p>
                                </div>
                                <!-- Second image on the left side of the article -->
                                <div class="image-container" style="background-image: url('assets/img/dis2.png')"></div>
                            </div>

                            <div class="col-md-5">
                                <!-- First image on the right side, above the article -->
                                <div class="image-container image-right" style="background-image: url('assets/img/dis3.png')"></div>
                                <strong>
                                    Share-worthy knowledge with your distributors
                                </strong>
                                <p>
                                    OJO mobile retail app provides distributor field teams with the required information and supportive tools to grow up team’s performance. our user interface is easy, simple and, attractive that plays a great role as follows :
                                    <br>
                                </p>
                                <ul>
                                    <li>
                                        Provide the best way for distribution processes
                                    </li>
                                    <li>
                                        Provide detailed, professional and clear instructions
                                    </li>
                                    <li>
                                        Avoid out-of-stock instances cases by providing real time data
                                    </li>
                                    <li>
                                        Increase performance with KPI tracking on interactive mobile dashboards
                                    </li>
                                    <li>
                                        Provides helpful views, forms and reports
                                    </li>
                                </ul>
                                <p>
                                    <strong>
                                        Feel at ease with the operations of our distributors
                                    </strong>
                                    <br> OJO mobile retail app helps you track, monitor and analyze the effect of your distributor’s activities from a single location with accurate results and an easy way that saves power and time. You can :
                                </p>
                                <ul>
                                    <li>
                                        Explore app dashboard to analyze distributor’s statistics
                                    </li>
                                    <li>
                                        Employee can use forms to create surveys, product box and sales order
                                    </li>
                                    <li>
                                        Access real-time mobile form results that prevent mistakes
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-tab>

    </nz-tabset>


    <!-- <footer class="footer footer-default">
        <div class="container">
            <p class="mu-copy-right">&copy; Copyright <a style="color: teal;" rel="nofollow" href="https://sat-finder.com">SAT FINDER</a>. All right reserved.</p>
        </div>
    </footer> -->
</div>