<app-navbar></app-navbar>

<!-- CORPS MONITORING -->
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/ojo/image.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="color: #FFF;">
                    CORPS MONITORING
                </h1>
            </div>
        </div>
    </div>

    <!-- ABOUT CORPS MONITORING SOLUTION CAPABILITIES -->
    <div class="section section-team text-center">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <h2 class="title">
                        CORPS MONITORING SOLUTION CAPABILITIES
                    </h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-map-marker"></i></div>
                            <h4 class="title">
                                CROP GROWTH MONITORING
                            </h4>
                            <p class="description">
                                A built-in set of vegetation indices such as NDVI make users keep a constant eye on crops and monitor their development, which is the basis of agricultural activities.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-mobile"></i>
                            </div>
                            <h4 class="title">
                                SOIL DATA ANALYTICS
                            </h4>
                            <p class="description">
                                There are about five soil indices to help you analyze the soil moisture and the soil salt content. You can choose to water and fertilize depending on the condition of the soil.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-laptop"></i></div>
                            <h4 class="title">
                                YIELD DATA ANALYTICS
                            </h4>
                            <p class="description">
                                The yield data could assist you in assessment of potential yield and soil nutrient which can be converted to a variable rate application map and used for decisions such as fertilizer application.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-paper-plane"></i></div>
                            <h4 class="title">
                                METEOROLOGY MONITORING
                            </h4>
                            <p class="description">
                                Knowing the weather patterns is the key to a good harvest. Our products can use temperature and accumulated precipitation information to identify growth stages and help plan activities.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-paper-plane"></i></div>
                            <h4 class="title">
                                DISASTER WARNINGS
                            </h4>
                            <p class="description">
                                The system provides notifications which will pop up when abnormal conditions are detected. Moreover, the system locate the disaster zone with longitude and altitude info on the map.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="btn btn-icon btn-round" style="padding: 8px; background-color: #056676"><i class="fa fa-exclamation"></i></div>
                            <h4 class="title">
                                ZONING DECISION-MAKING
                            </h4>
                            <p class="description">
                                Depending on the value of the index, the field will be intelligently zoned and you can input different amounts of fertilizer to different conditions of the soil or crop to save money and achieve higher yields.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="section section-team text-center">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <h2 class="title">
                        CORPS MONITORING SOLUTION CAPABILITIES
                    </h2>
                    <img src="assets/img/ojo/cor.png" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>


    <div class="section">
        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h4 class="title">
                            Corps Monitoring Solution Features
                        </h4>
                        <ul>
                            <li>
                                The system processes satellite images and provides the analyzes required to determine crop growth, follow up on the development of agricultural projects, detect encroachment on agricultural land, and follow up on the phenomenon of desertification and
                                the rate of its impact.
                            </li>
                            <li>
                                The system uses raw data from recent satellite images, color analysis, and other necessary parameters on a periodic basis according to the nature of the area to be monitored (weekly - monthly - ... etc.) in order to detect changes during that period.
                            </li>
                            <li>
                                The system uses artificial intelligence (Deep Learning) techniques to calculate the rates of implementation of national agricultural projects, predict the timing of completion of their stages, and provide accurate reports on the progress of the projects
                                and the quality of the crops that have been grown.
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <img src="assets/img/ojo/cor2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- <app-basicelements></app-basicelements> -->

    <!-- <footer class="footer footer-default">
        <div class="container">
            <p class="mu-copy-right">&copy; Copyright <a style="color: teal;" rel="nofollow" href="https://sat-finder.com">SAT FINDER</a>. All right reserved.</p>
        </div>
    </footer> -->
</div>

<app-users></app-users>
<app-brands></app-brands>
<app-footer></app-footer>