<footer class="footer-section">
    <!-- <video class="bg-video page-header-image rellax-header" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="/assets/bg.mp4" type="video/mp4" /></video> -->
    <div class="" style="background: linear-gradient(0deg, rgba(44, 44, 44, .2), #3b8590); padding: 40px;">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>
                                FZJOA1216, Jabal Ali,<br> Dubai, United Arab Emirates
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>
                                +971 56 429 3000
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>
                                info@ojocloud.com
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <img src="/assets/img/logo.png" class="img-fluid" alt="logo">
                        </div>
                        <div class="footer-text">
                            <p>
                                Our Financial and logistics hub is registered in Dubai, UAE. Our Servers hosted in Germany. Our Customers, Distributors and Resellers are in 11 countries; EGYPT, UAE, GERMANY, NIGERIA, KSA, PANAMA, BRAZIL, LIBYA, PAKISTAN, KUWAIT, OMAN and more to come.
                            </p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="https://twitter.com/OjoPlatform"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="https://facebook.com/SatFinderFZCO"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="https://www.youtube.com/channel/UC5wuHo9IRZaGWSLQo_PyBAA"><i class="fab fa-youtube-square youtube-bg"></i></a>
                            <a href="https://www.linkedin.com/company/satfinder/"><i class="fab fa-linkedin linkedin-bg"></i></a>
                            <a href="https://www.linkedin.com/company/satfinder/"><i class="fab fa-whatsapp whatsup-bg"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>
                                DIRECT LINKS
                            </h3>
                        </div>
                        <ul>
                            <li><a [routerLink]="['/ojo/about-us']">About Us</a></li>
                            <li><a [routerLink]="['/ojo/benefits']">Benefits</a></li>
                            <li><a [routerLink]="['ojo/contact-us']">Contact Us</a></li>
                            <li><a [routerLink]="['ojo/products/field-staff']">PRODUCTS</a></li>
                            <li><a [routerLink]="['ojo/products/field-staff']">Field Staff Management</a></li>
                            <li><a [routerLink]="['ojo/products/fleet-mamangement']">FLEET MANAGEMENT</a></li>
                            <li><a [routerLink]="['ojo/products/mdvr']">MDVR & Command and Control</a></li>
                            <li><a [routerLink]="['ojo/products/facility-management']">FACILITY MANAGEMENT</a></li>
                            <li><a [routerLink]="['ojo/products/perfect-store']">Perfect Store</a></li>
                            <li><a [routerLink]="['ojo/products/accident']">Accident Pevention</a></li>
                            <li><a [routerLink]="['ojo/products/corps']">CORPS MONITRING</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Thank you for supporting us!</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p class="mu-copy-right">&copy; Copyright <a style="color: teal;" rel="nofollow" href="https://sat-finder.com">SAT FINDER</a>. All right reserved.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a [routerLink]="['/home']">Home</a></li>
                            <li><a [routerLink]="['/ojo/about-us']">About</a></li>
                            <li><a [routerLink]="['/ojo/benefits']">Benefits</a></li>
                            <li><a [routerLink]="['ojo/products/field-staff']">Products</a></li>
                            <li><a [routerLink]="['ojo/industries/information']">Industries</a></li>
                            <li><a [routerLink]="['ojo/contact-us']">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>